

blockquote {
  font-style: italic;
  font-size: 14px;
  margin-top: 1.5rem;
  padding: 10px;
  //float: right;
  //text-align: right;
}
.container-text {
  max-width: 900px;
  margin:auto;
  font-size: 16px;
  line-height: 1.8;
  @include mq-mobile {
    font-size: 14px;
    line-height: 1.5;
  }
}
.about-img {
  margin: 2.5rem 0;
  z-index: 10;
}
.ic-check {
  width: 15px;
  height: 15px;
  svg {
    width: 15px;
    height: 15px;
    stroke: $main-blue;
    fill:$main-blue;
    stroke-width: .1;
    margin-right: 10px;
  }
}
.ic-dot {
  width: 8px;
  height: 8px;
  svg {
    width: 8px;
    height: 8px;
    stroke: $main-blue;
    fill:$main-blue;
    stroke-width: .1;
    margin-right: 10px;
  }
}

div.ml_box {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(75, 75, 75, 0.95);
  text-align: center;
}

div.ml_box img {
  max-width: 90%;
  max-height: 90%;
  vertical-align: middle;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
  border-radius: 4px;
  border: 4px solid #D7D7D7;
}

div.ml_box .animated,
div.ml_box.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.half {
  width:50%;
  padding:0 10px;
  @include mq-mobile {
    width: 100%;
    margin: 15px 0;
    padding: 0 20px;
  }
}
.one-third {
  display: block;
  width: calc(100%/3);
  float: left;
  padding: 0 10px;
  @include mq-mobile {
    width: 100%;
    float: none;
    margin: 15px 0;
    padding: 0 20px;
  }
}
.container-text {
  .row {
    margin: 20px 0;
  }
  .ic-rule {
    margin-right: 10px;
  }
}





// Wildsol
.container-text-logo{
  max-width: 280px;
  margin: 0 auto 2rem;

  img{
    width: 100%;
  }
}

.steps.hovered {

  .step__number:before{
    width: 100%;
  }

  img{
    width: 30px;
  }
}

.counters{
  margin-top: 50px;

  h3, h4, h5{
    margin-bottom: 10px;
  }

  p{
    opacity: .5;
  }

  .featured-widget:before{
    width: 100%;
  }
}

.about-list{
  color: $main-text;
  margin-top: 50px;

  li{
    padding: 10px 0;  
  }
}

.final-block{
  background: url(../img/about/bg.jpg) no-repeat top right;
  @include mq-1450  {
    background-position: 570px 0;
  }
  @include mq-1200 {
    background-position: 430px 0;
  }
}

.text-slogan{
  font-size: 1.5rem;
  padding: 13rem 0 2rem;
  line-height: 1.4;
  font-weight: 100;
  font-family: $font-light, sans-serif;
}