p.icon-links.tags {
  display: inline-block;
  float: right;
  width: 50%;
}
.blog-block {
  display: flex;
  border:1px solid $light-grey;
  margin: 0 0 50px 0;
  h4 {
    padding-bottom: 15px;
  }

  &:hover h4>a {
    color: $main-blue;
  }
  @include mq-mobile {
    flex-wrap: wrap;
  }
  .latest-news__content {
    border:none;
    padding: 0;
  }
  .hovereffect img {
    padding-bottom: 0;
  }
}
.blog-text {
  padding: 10px 15px 0 20px;
  @include mq-mobile {
    padding:20px;
  }
  .card-title.latest-news__title {
    margin-bottom: 0;
  }
}

.blog-img {
  img {
    width: 100%;
  }
}
.date-news {
  display: block;
  color: $c99;
  font-size: 12px;
  font-weight: 400;
}
.tags {
  margin-bottom: 10px;
  a {
    font-size: 12px;
    color: $c99;
    margin: 0 5px;
    &:hover,
    &:active,
    &:focus {
      color: $main-blue;
    }
  }
}
.ic-tag {
  width: 15px;
  height: 15px;
  svg {
    width: 13px;
    height: 13px;
    stroke:$c99;
    fill:$c99;
  }
}
.describe-problem {
  margin-bottom: 40px;
  @include mq-tablet{
    margin-top: 40px;
  }
}
/* Single Post */
.single-blog {
  .title-with-share {
    padding-bottom: 2rem;
  }
}
.signle-post-img {
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
}
.btn-post  {
  margin: 10px 0 25px;
}
/* Our Authorization */
.our-authorization {
  h1, h3 {
    padding-bottom: 1rem;
  }
}
.authorization-img {
  text-align: center;
  padding-bottom: 15px;
  img {
    height: 40px;
    @include mq-tablet {
      width:auto;
      height: 50px;
    }
  }

}
.block-authorization {
  margin-top: 3rem;
}
.ul-blog {
  margin-top: 15px;
}