.ic-contacts {
  width: 45px;
  height: 45px;
  margin:0 auto 10px;
  svg {
    width: 45px;
    height: 45px;
    stroke:$c99;
    fill:$c99;
    stroke-width: .2;
  }
}
.contacts {
  a {
    color: $main-text;
    &:hover {
      color: $main-blue;
    }
  }
}