/* Fixed Nav */
.fixed-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  transform: translateY(-120%);
  @include trans;
  .container {
    @include mq-1200 {
      max-width: 100%;
    }
  }
  .btn {
    margin-top: 11px;
    float: right;
  }
  .menu-arrow-bottom {
    margin-right: 7px;
  }
  .nav-category-sub {
    top: 55px;
  }
  .category-sub-column {
    width: 33%;
  }
  ul {
    padding-left: 0;
    float: left;
    width:auto;
    li.nav-category-li >a {
      padding:25px 10px;
      @include mq-tablet {
        padding: 20px 7px;
      }
    }
    li.nav-sub-li > a {
      padding: 5px;
    }
  }
  @include mq-mobile {
    display: none;
  }
}
.fixed-nav.show-nav {
  transform: translateY(0);
}