@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Roboto-Black.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Roboto-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Roboto-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Roboto-Thin.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Roboto-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Roboto-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}
