footer {
  background: $white;
  padding: 80px 0 0;
  @include mq-mobile {
    padding-top: 50px;
  }
  @include mq-480 {
    padding-top: 30px;
  }
}
.footer-map {
  position: relative;
  iframe {
    width: 100%;
    height: 450px;
    @include mq-mobile {
      height: 400px;
    }
    @include mq-600 {
      height: 350px;
    }
    @include mq-480 {
      height: 300px;
    }
  }
}
.footer-featured{
  position: relative;
  margin:0 auto 0;
  padding: 1.5rem 2rem;
  @include mq-mobile {
    display: flex;
    padding:1rem;
  }
  @include mq-480 {
    flex-wrap:wrap;
    justify-content: center;
  }
  img {
    width: 80%;
    margin-bottom: 20px;
    @include mq-mobile {
      width: 200px;
      margin-bottom: 10px;
    }
    @include mq-600 {
      width: 170px;
      margin-bottom: 0;
    }
  }
}
.footer-icons {
  height: 130px;
  position: absolute;
  right: 1rem;
  top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer-block-info {
  width: 330px;
  position: absolute;
  top: 0;
  right: 80px;
  margin-top: -62px;
  color: $main-text;
  z-index: 99;
  @include mq-tablet {
    right: 30px;
  }
  @include mq-mobile {
    position: relative;
    width: 100%;
    right: 0;
    margin-top: 0;
  }
  p {
    font-size: 14px;
    @include mq-mobile {
      font-size: 12px;
      margin-bottom: 3px;
    }
  }

}
.footer-contacts {
  @include mq-mobile {
    width: 200px;
    margin:auto;
    text-align: left;
  }
  @include mq-480 {
    width: 100%;
    text-align: center;
  }
}
.menu-footer {
  margin-bottom: 0;
  padding: 15px;
  margin-top: -7px;
  border:1px solid $light-grey;
  text-align: center;
  li {
    list-style: none;
    display: inline-block;
  }
  a {
    color: $c99;
    font-size: 14px;
    padding: 10px 7px;
    &:hover {
      color: $main-blue;
    }
  }
}
.develop {
  border-top:1px solid $light-grey;
  text-align: center;
  padding: 10px;
  p {
    font-size: 14px;
    color: $main-text;
    padding: 10px;
  }
  a {
    padding: 10px;
    img {
      width: 75px;
      margin-top: -20px;
    }
  }
}