.header-top {
  width: 100%;
  background: $light-grey;
}

.header-top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: $main-text;
  padding: 10px 0 10px 280px;
  @include mq-1200 {
    padding-left: 10px;
  }
  @include mq-mobile {
    flex-direction: column;
  }

  h5 {
    font-size: 14px;
    font-weight: 400;
    color: $main-text;
  }
}
.top-info {
  display: flex;
  align-items: center;
  @include mq-mobile {
    padding: 5px;
  }
  h5 {
    @include mq-mobile {
      font-size: 12px;
    }
  }
}
.header-lang {
  a {
    padding: 0 10px;
    color: $main-text;
    font-size: 12px;
    &:hover,
    &:active,
    &:focus {
      color: $main-blue;
    }
    &.lang-active {
      color: $main-blue;
      font-weight:600;
    }
    @include mq-mobile {
      padding: 0 7px;
      font-size: 11px;
    }
  }
}
.logo-container {
  width: 230px;
  padding:15px 25px;
  border:1px solid $light-grey;
  background: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.15);
  margin-top: -30px;
  margin-bottom: 20px;
  text-align: center;
  cursor: pointer;
  @include trans;
  &:hover img {
    transform: scale(1.1);
  }
  @include mq-1200 {
    margin-top: 20px;
    width: 100%;
  }

  img {
    width: 80%;
    margin:auto;
    @include trans;
    @include mq-1200 {
      width: 180px;
    }
    @include mq-mobile {
      width: 140px;
    }
  }
}
.btn-rounded {
  //text-transform: uppercase;
}
.btn {
  font-size: 0.77778rem;
  padding: 0.55556rem 1.11111rem;
}
.header-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  @include mq-1200 {
    margin-bottom: 20px;
  }
  @include mq-mobile {
    justify-content: flex-start;
  }
  .btn {
      margin-left: 20px;
  }
  .block-btn {
    @include mq-tablet {
      margin: 20px auto 0;

    }
    @include mq-480 {
      margin-top: 0;
      a, .btn {
        display: block;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
.counter {
  @include mq-tablet {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;

  }
}

#repare {
  margin-left: 15px;
  font-size: 28px;
  display: block;
  width:120px;
  float: right;
  @include mq-tablet {
    display: inline-block;
    float: none;
    //vertical-align: middle;
  }

}
/* ICONS */
.ic-header {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  svg {
    width: 30px;
    height: 30px;
    stroke:$main-text;
    fill:$main-text;
    stroke-width: .4;
    vertical-align: middle;
    @include mq-mobile {
      width: 24px;
      height: 24px;
    }
  }
  @include mq-mobile {
    width: 24px;
    height: 24px;
  }
}