.slide-img {
  width: 100%;
  padding: 200px 0;
  background: rgba($black, .3);
  @include mq-1200 {
    padding: 150px 0;
  }
  @include mq-tablet {
    padding: 100px 0;
  }
  @include mq-mobile {
    padding: 80px 0;
  }
  .btn {
    margin-top: 25px;
    @include mq-mobile {
      margin-bottom: 15px;
      margin-top: 15px;
    }
    @include mq-600 {
      margin-top: 15px;
    }
  }
}
.h-slider {
  font-size: 100px;
  color: $white;
  @include mq-1200 {
    font-size: 90px;
  }
  @include mq-tablet {
    font-size: 80px;
    font-weight: 500;
  }
  @include mq-mobile {
    font-size: 60px;
  }
  @include mq-600 {
    font-size: 45px;
  }
  @include mq-480 {
    font-size: 38px;
  }
}
.p-slider {
  color: $white;
  font-size: 30px;
  @include mq-1200 {
    font-size: 26px;
  }
  @include mq-tablet {
    font-size: 22px;
    font-weight: 500;
  }
  @include mq-mobile {
    font-size: 18px;
  }
  @include mq-600 {
    font-size: 14px;
  }
  @include mq-480 {
    font-size: 12px;
  }
}
.header-sliders {
  position: relative;
  .block-partn {
    //position: absolute;
    //bottom: 0;
    //left: 0;
    margin-top: -100px;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
    .swiper-wrapper {
      align-items: center;
    }
    .swiper-container {
      width: 100%;
      margin: 20px auto 0;
      background: rgba($white, .8);
      padding: 10px;
    }
    .swiper-slide {

      text-align: center;
      img {
        width: 80%;
      }
    }
    .swiper-slide {
      text-align: center;
      width: 60%;
      /* Center slide text vertically */;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide:nth-child(2n) {
      width: 40%;
    }
    .swiper-slide:nth-child(3n) {
      width: 20%;
    }
  }
}
#main-slider {
  position: relative;

  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background-size:cover;
    background-repeat:no-repeat;
    background-position: center;
    text-align: center;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider-arrow-left,
.slider-arrow-right {
  position: absolute;
  top: 45%;
  width: 50px;
  height: 50px;
  z-index: 999;
  @include mq-mobile {
    width: 40px;
    height: 40px;
  }
  svg {
    width: 50px;
    height: 50px;
    stroke:$white;
    stroke-width: .5;
    opacity: .4;
    @include trans;
    &:hover {
      opacity:1;
    }
    @include mq-mobile {
      width: 40px;
      height: 40px;
    }
    @include mq-600 {
      width: 35px;
      height: 35px;
    }
  }
}
.slider-arrow-right {
  right: 20px;
  @include mq-600 {
    right: 0;
  }
}

.slider-arrow-left {
  left: 20px;
  svg {
    transform: rotate(180deg);
  }
  @include mq-600 {
    left: 0;
  }
}
.title-with-button,
.title-without-btn{
  padding: 40px 0;
  @include mq-tablet {
    padding-top: 50px;
  }
  @include mq-600 {
    padding: 40px 0 30px;
  }
}
.title-with-button {
  .title-with-button__button {
    @include mq-tablet {
      float: none;
      margin-top: 10px;
    }
  }
}
.latest-events {
  //margin-top: 30px;
  .title-with-button__button {
    margin-top: 20px;
    float: none;
  }
}
.event-date,
.event-counter {
  padding: 7px 0;
  color: $black-text;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 60px;
  margin-bottom: 20px;
}
.event-date-count {
  background: $light-blue;
  padding: 7px 15px;
  color: $white;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 60px;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .hero-columns__text,
  .hero-columns__title {
    width: 100%;
  }
}
.hero-columns__content {
  min-height: 250px;
}
.hero-columns__cta:focus,
.hero-columns__cta:hover {
  svg {
    stroke:$c99;
    fill:$c99;
  }
}
.news-arrow-right {
  width: 20px;
  height: 20px;
  float: right;
  svg {
    width: 8px;
    height: 8px;
    stroke:$black-text;
    fill:$black-text;
    stroke-width:1.7;
    transform:rotate(-90deg);
  }
}

.hero-columns__item--bg3 {
  background-position: center;
}

.hero-columns__overlay {
  background-color: rgba($white, .9);
}
.textwidget__link {
  &:hover {
    color: $main-text;
  }
}
/* Services */
.services {
  .btn {
    margin-top: 30px;
    margin-right: 30px;
    @include mq-mobile {
      margin-top: 0;
      margin-right: 10px;
    }
    @include mq-480 {
      margin-top: 10px;
      margin-right: 0;
      display: block;
    }
  }
}
.row-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include mq-mobile {
    flex-direction: column;
  }
}
.col-flex {
  display: flex;
  flex-direction: column;
  flex: 1;
  @include mq-tablet {
    width: 50%;
    flex:auto;
  }
  @include mq-mobile {
    width: 100%;
  }

}
.featured-widget {
  @include mq-tablet {
    margin-bottom: 30px;
  }
}
.marg-lg-b40 {
  @include mq-tablet {
    margin-bottom: 0;
  }
}
.col-flex:not(:last-child) {
  margin-right: 5px;
  @include mq-tablet {
    margin-right: 0;
  }
}
.col-flex:not(:first-child) {
  margin-left: 5px;
  @include mq-tablet {
    margin-left: 0;
  }
}
/* COUNTER */
.card__counter {
  width: 215px;
  background: $yellow;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 60px;
  padding: 7px;
}
.card__counter-blc {

  color:$white;
  padding:5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  @include mq-1200 {
    font-size: 14px;
  }
}
.card__text-sub {
  font-size: 12px;
  padding-left: 5px;
  font-weight: 100;
  //padding-top: 10px;
  float: right;

  @include mq-480 {
    font-size: 10px;
  }
}
/* END COUNTER */
.latest-news__container {
  @include mq-mobile {
    padding-top: 20px;
  }
}
.short-blog {
  &:hover {
    h4>a {
      color: $main-blue;
    }
  }
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 999;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1.3em 2.1em;
  //height: 4.75em;
  background:$white;
  transition: transform 0.35s;
  transform: translate3d(0,100%,0);
}

.hovereffect img {
  display: block;
  position: relative;
  transition: transform 0.35s;
  padding-bottom: 20px;
}


.hovereffect p.icon-links a {
  float: right;
  cursor:pointer;
}
.latest-news--block p.icon-links a{
  color: $c99;
}
// .latest-news--block:hover p.icon-links a:hover,
// .latest-news--block:hover p.icon-links a:focus {
//   color:$main-blue;
// }
.hovereffect .latest-news__date,
.hovereffect .share-icons {
  transition: transform 0.35s;
  transform: translate3d(0,200%,0);
}
.hovereffect p.icon-links a
{
  transition: transform 0.35s;
  transform: translate3d(0,200%,0);
  &:hover,
  &:active,
  &:focus {
    color: $main-blue;
  }
}

.latest-news--block:hover .overlay,
.latest-news--block:hover p.icon-links a,
.latest-news--block:hover .latest-news__date,
.latest-news--block:hover .share-icons {
  transform: translate3d(0,0,0);
}
.latest-news--block:hover .overlay {
  border-left:1px solid $light-grey;
  border-right:1px solid $light-grey;
}
.latest-news--block:hover .latest-news__date{
  transition-delay: 0.1s;
}
.latest-news--block:hover p.icon-links a:nth-child(3) {
  transition-delay: 0.1s;
}

.latest-news--block:hover p.icon-links a:nth-child(2) {
  transition-delay: 0.15s;
}

.latest-news--block:hover p.icon-links a:first-child {
  transition-delay: 0.2s;
}
.latest-news--block .latest-news__title a {
  padding-top: 20px;
}


.hero-columns__text {
  @include mq-1200 {
    padding:0.55556rem 2.33333rem 1.55556rem;
  }
}

