//.post{
//  position: relative;
//  max-width:700px;
//  width: 100%;
//  margin: 0 auto;
//}
.services-img {
  position: relative;
  width: 100%;
}
figure{
  margin: 0px;
  position: relative;
  width: 100%;
  //clear: both;
}

figure.left{
  margin-left: 0;
}

figure.right{
  margin-right: 0;
}

figure.full{
  margin: 0;
  @include mq-mobile {
    margin: 10px 0;
  }
}

.one-third {
  width: calc(100%/3);
  float: left;
  padding: 0 10px;
  @include mq-mobile {
    width: 100%;
    float: none;
    margin: 15px 0;
    padding: 0 20px;
  }
}

.half {
  width:50%;
  padding:0 10px;
  @include mq-mobile {
    width: 100%;
    margin: 15px 0;
    padding: 0 20px;
  }
}

.full {
  width:100%;
}

.left{
  float: left;
  @include mq-mobile {
    float: none;
  }
}

.right{
  float: right;
  @include mq-mobile {
    float: none;
  }
}

/* MediumLightbox style */

.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.img {
  display: block;
  margin: auto;
  max-width: 100%;
}


.aspectRatioPlaceholder .img {
  //position: absolute;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
}



.zoom-effect .img{
  cursor: pointer;
}

.zoom-effect .zoomImg,
.zoom-effect .zoomImg-wrap {
  position: relative;
  z-index: 900;
  transition: all 300ms;
}

.zoom-effect .zoomImg-wrap--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.zoom-effect .zoomImg {
  cursor: pointer;
}


.zoom-effect .zoomOverlay.show{
  opacity: 1;
}

.zoom-effect .zoomOverlay {
  z-index: 800;
  background: rgba($white, .8);
  position: absolute;
  transition: opacity 300ms;
  opacity: 0;
  cursor: pointer;
}