nav {
  background: $nav;
}
.block-nav {
  width: 100%;
  z-index: 999999;
  @include mq-850 {
    background: $nav;
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.7s;
    padding-top: 30px;
    opacity: 1;
    z-index: 99999;
    overflow-x: hidden;
    overflow-y: auto;
  }
  @include mq-480 {
    width: 100%;
  }
}
.open-nav {
  left: 0;
}

/* MAin Nav */
#mainnav {
  display: flex;
  width: 100%;
  align-items: center;
  @include mq-850 {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
  }
  .container {
    @include mq-1000 {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.nav-category {
  list-style:none;
  display: flex;
  justify-content:flex-start;
  position: relative;
  margin:0;
  width:100%;
  @include mq-850 {
    flex-direction: column;
    padding-left: 0;
    height:auto;
  }
}
.nav-category-li {

  a {
    display: inline-block;
    position: relative;
    color: lighten($main-text, 10%);
    text-transform: uppercase;
    padding: 25px 15px;
    font-size: 12px;
    font-weight: 100;

    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
    @include mq-1000 {
      font-size: 11px;
      padding: 10px 8px;
    }
  }
  .menu-active {
    color: $white;
  }
}
.nav-category-sub {
  position: absolute;
  display: block;
  background: $bg-nav;
  width: 100%;
  left: 0;
  top: 68px;
  height: 0;
  text-align: left;
  transition: .3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 999;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  pointer-events: none;
  @include mq-1000 {
    top: 37px;
  }
  @include mq-850 {
    position: relative;
    top: 0;
    padding: 0;
    left: -19px;
    width: 349px;
    flex-wrap: wrap;
  }
  @include mq-480 {
    width: 100%;
  }
}
.nav-category-sub.expand {
  height:380px;
  opacity:1;
  visibility: visible;
  overflow: hidden;
  @include mq-850 {
    height:auto;
  }

}

.nav-sub-li {
  list-style:none;
  border: 1px solid transparent;
  transition: .9s ease;
  //position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: $white;
  @include trans;
  & > a {
    padding: 0;
    font-size: 12px;
    color: lighten($main-text, 10%);
    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }
  .nav-sub-link {
    font-size: 12px;
    font-weight: 600;
    color: $white;
    &:hover {
      color: $main-blue;
    }
  }
  p {
    font-size: 12px;
    color: lighten($main-text, 10%);
    text-transform: none;
  }
  img {
    height: 20px;
  }
}
.category-sub-column {
  width: 33%;
  padding: 15px 25px;
  @include mq-850 {
    width: 100%;
  }
  .btn {
    margin-top: 15px;
  }
}
.ic-gear {
  width: 50px;
  height: 50px;
  margin:0 auto 20px;

  svg {
    width: 50px;
    height: 50px;
    fill:lighten($main-text, 10%);
  }
}
.nav-category-li:hover  .nav-category-sub {
  @include mq-min-850 {
    height: auto;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.sub-nav {
  background: $white;
  transition: all .2s ease-in-out;
  text-transform: none;
  opacity: 0;
  right: -10px;
  visibility: hidden;
  position: absolute;
  line-height: 18px;
  font-size: 12px;
  height: auto;
  min-width: 170px;
  width: 100%;
  z-index: 99999;
  border-radius: 5px;
  border:1px solid $light-grey;
  li{
    float: none;
    text-align: left;
  }

}
.dropdown-nav {
  position: relative;
  @include mq-min-850 {
    &:hover > .sub-nav {
      opacity: 1;
      visibility: visible;
    }
  }

}

.sub-nav-brend {
  display: flex;
  flex-direction: column;
  a {
    &:hover {
      color: $yellow;
    }
  }
}

.pull-right-nav {
  align-self: flex-end;
  margin-left:auto;
  @include mq-850 {
    align-self: flex-start;
    margin-left: 5px;
  }
}
nav.navbar {
  position: relative;
  background-color: $light-grey;
  padding: 0;
  width: 100%;
  @include mq-850 {
    background: $light-grey;
  }
  ul {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    @include mq-850 {
      flex-direction: column;
    }
  }
  li {
    @include mq-850 {
      float: none !important;
      text-align: left;
    }
    a {
      display: block;
      color: $black;
      font-size: 11px;
      padding: 12px;
    }
  }

}

/* Icons */

.menu-arrow-bottom {
  background: none;
  width: 20px;
  height: 10px;
  margin-left: -10px;
  margin-right: 15px;
  svg {
    width: 8px;
    height:8px;
    stroke: lighten($main-text, 10%);
    fill:lighten($main-text, 10%);
    // transform: rotate(90deg);
    stroke-width: 1.5;
    vertical-align: middle;
    @include trans;
    &:hover {
      stroke:$white;
    }
  }
  @include mq-850 {
    height: 30px;
    width: 30px;
    margin-left: 40px;
  }
}
.menu-arrow-right {
  width: 10px;
  height: 10px;
  float: right;
  svg {
    width: 10px;
    height: 10px;
    stroke: $main-text;
    vertical-align: middle;
    @include trans;
    @include mq-850 {
      transform: rotate(90deg);
    }
  }
}
/* END Icons */



/* Button */
.mob-btn {
  width: 30px;
  height: 30px;
  display: none;
  @include mq-850 {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 9999;
  }
}

.open-btn {
  display: none;
  @include mq-850 {
    display: block;
    position: fixed;
    background:rgba($light-grey , .8);
    z-index: 99998;
    top: 0;
    height: 45px;
    left: 0;
    border-radius:0 0 4px 0;
    &:hover {
      svg {
        stroke:$blue;
        fill: $blue;
      }
    }
  }
}


/* Mobile Button */
.ic-close-menu {
  width: 30px;
  height: 30px;
  &:hover {
    svg {
      stroke: $main-blue;
      fill:$main-blue;
    }

  }
  svg {
    width: 30px;
    height: 30px;
    stroke-width: .1;
    stroke: $light-grey;
    fill:$light-grey;
    @include trans;
  }
}
.ic-menu {
  svg {
    width: 45px;
    height: 45px;
    stroke: $main-blue;
    fill:$main-blue;
    @include trans;
  }
}
.repare {
  width: 100%;
  display: block;
  height: 190px;
  overflow: hidden;
  margin: 7px 0;
  img {
    width: 100%;
    height:auto;
  }
}
