ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  li {
    background: none;
    color: $c99;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin:10px 20px;
    text-transform: uppercase;
    border-bottom:3px solid $light-grey;
    @include trans;
    @include mq-mobile {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
    @include mq-480 {
      font-size: 14px;
    }
    &:hover,
    .active,
    &:focus{
      color: $main-blue;
    }

  }
  li.current-tab {
    color: $main-blue;
    border-bottom:3px solid $main-blue;
  }
}

.tab-content{
  display: none;
  padding: 15px 0;
  animation: fadeEffect .7s;
}
@keyframes fadeEffect {
  from {opacity: .3;}
  to {opacity: 1;}
}
.tab-content.current-tab{
  display: inherit;
}

ul.tab li a:focus, .active {
  background-color: $blue;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid $blue;
  border-top: none;
  animation: fadeEffect 1s;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.block-offer, .single-offer {
  .blog-text .card-title.latest-news__title {
    display: inline-block;
    padding-top: 20px;
  }
  img {
    padding-bottom: 0;
  }
  .overlay {
    background: $yellow;
  }
  /* COUNTER */
  .card__counter {
    width: 350px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .card__counter-blc {
    font-size: 26px;
    @include mq-1200 {
      font-size: 22px;
    }
  }
  .card__text-sub {
    font-size: 16px;

    @include mq-480 {
      font-size: 13px;
    }
  }
  /* END COUNTER */
}
.block-news,
.block-offer {
  margin-bottom: 25px;
  padding-bottom: 20px;
  cursor: pointer;
  border:1px solid $light-grey;
  &:hover h4 > a {
    color: $main-blue;
  }
  @include mq-1000 {
    margin: 25px;
  }
  .overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tag-offer {
      color: $white;
      font-size: 14px;
    }
    .tag-news {
      color: $c99;
      font-size: 14px;
    }
  }
}
.single-news, .single-offer {
  .overlay {
    .share-icons {
      float: right;
    }
  }
  .container-text {
    padding: 10px;
    @include mq-tablet {
      padding: 10px 20px;
    }
  }
}
.single-offer {
  .hovereffect {
    margin-bottom: 20px;
  }
  .share-icons {
    svg {
      stroke: $white;
      stroke-width: 1.3;
    }
  }
  //.card__counter {
  //  float: left;
  //}
  .overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}