section {
  padding: 0 0 50px 0;
  @include mq-tablet {
    padding: 30px 0;
  }
}
.share-text {
  color: $c99;
}
.service {
  h5 {
    padding-bottom: 20px;
  }
}
.service-text {
  padding: 20px 0;
}
.services-img {
  img {
    //width: 100%;
  }
}
.possible-reasons {
  padding-top: 30px;
}
.steps {
  margin: 30px 0;
}
.service-price {
  h4 {
    padding-bottom: 30px;
  }
}
.hentry__content .widget_nav_menu .menu > li > a, .sidebar .widget_nav_menu .menu > li > a {
  padding: .8rem 1.2rem;
}
.ic-rule {
  width: 35px;
  height: 35px;
  float: left;
  svg {
    width: 35px;
    height: 35px;
    stroke:$c99;
    fill: $c99;
  }
}
.block-rules {
  height: 300px;
  overflow-y: auto;
  border:1px solid $light-grey;
  padding: 15px;
  .widget-icon-box {
    padding: 15px 0;
  }
}

.service-rules {
  .btn {
    margin-top: 10px;
  }
}
.form-control {
  // margin-bottom: 25px;
}
.title-with-share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mq-1000 {
    margin-top: 30px;
  }

}/* Repare Brand*/
.img-brend {
  height: 20px;
}
.right-link {
  float: right;
}
.modal-content {
  padding: 20px;
  .btn {
    margin:auto;
    display: block;
  }
}
.close  {
  font-size: 32px;
}
.ic-tools {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  svg {
    width: 25px;
    height: 25px;
    stroke:$c99;
    fill:$c99;
    stroke-width: 3;
    margin-top: -3px;
  }
}
.pricing-list {
  padding: 0 15px 15px;
}
.service-rules {
  margin-top: 20px;
}