body {
  background: $white;
  color: $black-text;
  font-family:$font, Arial, sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  @include trans;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}
.link-blog {
  color: $main-blue;
  &:hover,
  &:active,
  &:focus {
    color: darken($main-blue, 12%);
  }
}
p {
  margin-bottom: 0;
}
.sidebar__headings {
  @include mq-mobile {
    margin-bottom: 0;
    margin-top: 2rem;
  }
}
.icons-hidden {
  display: none!important;
}
.header4 {
  padding-bottom: 20px;
}
button,
input,
textarea {
  outline: none!important;
  border-radius: 4px;
  border:none;
  background: none;
  resize: none;
  @include trans;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
.form-control:focus {
  box-shadow: none;
}
ul {
  padding-left: 15px;
}
li {
  list-style: none;
}
/* Buttons */
.btn {
  font-weight: 400;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}
.btn.read-more-news {
  padding: .5rem 0 0;
  color: $main-blue;
  @include trans;
  &:hover {
    color: $blue;
    svg {
      stroke:$blue;
      fill:$blue;
    }
  }
}
.more-arrow {
  width: 12px;
  height: 12px;
  svg {
    width: 12px;
    height: 12px;
    stroke:$main-blue;
    fill:$main-blue;
    stroke-width: .4;
    margin-left: 5px;
    @include trans;
    vertical-align: middle;
  }
}
.btn-primary {
  background: $main-blue;
  border-color:$main-blue;
  &:hover,
  &:active,
  &:focus{
    background: darken($main-blue, 10%);
    border-color:darken($main-blue, 10%);
  }
}
.btn-white {
  background: $white;
  color: $main-blue;
  border:1px solid $main-blue;
  @include trans;
  &:hover,
  &:active,
  &:focus {
    background: $main-blue;
    color: $white;
  }
}
/* Parteners */
.partner-block {
   figure img {
    filter: grayscale(100%);
    @include trans;
     transform: scale(1);
  }
   figure:hover {
     img {
       filter: grayscale(0);
       transform: scale(1.1);
     }
   }



}
.parteners{
  .swiper-wrapper {
    align-items: center;
  }
  .swiper-container {
    width: 100%;
    margin: 20px auto;
    background: $white;
  }
  .swiper-slide {
    text-align: center;
    //padding: 10px 0;
    img {
      width: 100%;
    }
  }
  .swiper-slide {
    text-align: center;
    width: 60%;
    /* Center slide text vertically */;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide:nth-child(2n) {
    width: 40%;
  }
  .swiper-slide:nth-child(3n) {
    width: 20%;
  }
}
.title-with-button__button {
  margin-top: -25px;
}

/* Social Icons */
.share-icons {
  width: 180px;
  display: flex;
  justify-content: space-between;
}
.ic-social {
  width: 20px;
  height: 20px;
  svg {
    width: 20px;
    height: 20px;
    stroke: $c99;
    fill:none;
    vertical-align: middle;
    @include trans;
    &:hover {
      stroke:$blue;
    }
  }
}
.grey-text {
  color: $c99;
  @include mq-tablet {
    display: block;
  }
}
.breadcrumbs a::after {
  content: none;
}
.breadcrumbs-arrow {
  width: 10px;
  height: 10px;
  svg {
    width: 9px;
    height: 9px;
    stroke: $c99;
    //vertical-align: middle;
    stroke-width: 2;
    margin: 0 7px;
  }
}
.page-header {
  border-bottom: none;
  margin-bottom: 0;
  padding: 1rem 0;
  @include mq-tablet{
    padding:.5rem 0;
    margin-top: 20px;
  }
}
.sidebar {
  margin-top: 0;
  align-self: flex-start;
}
.widget_archive li::before, .widget_pages li::before, .widget_categories li::before, .widget_meta li::before, .widget_recent_comments li::before, .widget_recent_entries li::before, .widget_rss li::before {
  content: none;
}
/* Pagination */
.pagination {
  margin-top: 0;
  @include mq-tablet {
    margin-top: 0;
  }
}

.pagination .page-numbers.current {
  background: $main-blue;
  &:hover,
  &:active,
  &:focus {
    background: $main-blue;
  }
}
.pagination .page-numbers {
  @include trans;
  width: 2.3rem;
  height: 2.3rem;
  line-height:2.3rem;
  background: $light-grey;
  &:hover,
  &:active,
  &:focus {
    background: $main-blue;
    svg {
      stroke: $white;
    }
  }
  @include mq-480 {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}
.navigation.pagination {
  width: 100%;
  border-top:none;
  background: none;
  @include mq-1000 {
    text-align: center;
  }
}
.pag-first,
.pag-last {
  width: 13px;
  height: 13px;
  svg {
    width: 13px;
    height: 13px;
    stroke:$c99;
    fill:none;
    stroke-width: 5.5;
    vertical-align: middle;
    @include trans;
  }
}
 

.pag-arrow, .pag-arrow-prev {
  width: 12px;
  height: 12px;
  svg {
    width: 12px;
    height: 12px;
    stroke:$c99;
    stroke-width: 2;
    vertical-align: middle;
    @include trans;
  }
}
.pag-arrow-prev,
.pag-last {
  svg {
    transform: rotate(180deg);
  }
}
.pagination .prev, .pagination .next {
  position: relative;
  right:auto;
  margin-right:0.33333rem;
  box-shadow: none;
}

.modal{
  position: fixed;
  display: flex!important;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($black, .7);
  transition: .3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.show{
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.modal__wrapper{
  background: #fff;
  border-radius:  3px;
  padding: 2em;
  max-width: 500px;
  position: relative;
}
.sl-wrapper .sl-navigation button {
  color: $main-blue;
}
.page-header__title {
  display: block;
  padding-bottom: 20px;
  border-bottom:1px solid $light-grey;
}
.widget-title {
  margin-bottom: 7px;
}
.mt-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cat-item {
  
  a {
    padding-left: 0px;
  }
}
svg.ic-list {
    width: 9px;
    height: 9px;
    stroke:$c99;
    fill:$c99;
    transform:rotate(-90deg);
    margin-right: 10px;
    margin-left: 20px;
  }
  .counter {
    margin-left: 25px;
  }
.ic-gear {
  .no-fill {
    fill:none;
    stroke:lighten($main-text, 10%);
    stroke-width:1;
  }
}
  
.error-text{
  color: $red;
  font-size: 12px;
  opacity:0;
  &.error-text-vis {
    opacity:1;
  }
}