$white: #fff;
$light-grey: #eee;
$main-text: #787878;
$c99: #999999;
$bg-nav:#3c3c3c;
$nav:#292929;
$black-text: #333;
$yellow: #fec303;
$blue: #1A3163;
$main-blue: #2196F3;
$light-blue: #3baed4;
$black: #000;
$red: #f44336;

/* Fonts */
$font:             'Roboto-Regular';
$font-black:       'Roboto-Black';
$font-bold:        'Roboto-Bold';
$font-light:       'Roboto-Light';
$font-thin:        'Roboto-Thin';
