extends ./templates/layout

block title
	title Service

block content
	.page-header
		.container
			h1.page-header__title О компании
	section.about-company
		.container
			.container-text
				.container-text-logo
					img(src="img/logo.svg", alt="")
				//h1 О компании
				//- blockquote Своевременное и квалифицированное обслуживание компьютерной техники является залогом беспроблемной её эксплуатации.
				p Сервис Центр <strong>“Accent Electronic”</strong> занимается оказанием услуг по сервисной поддержке и обслуживанию компьютерной техники и аксессуаров. Деятельность СЦ включает диагностику, гарантийный и постгарантийный ремонт электронной технике от таких производителей как, ACER, HP, DELL, LENOVO, CANON, ASUS, APC и многие др., независимо от места покупки и способа оплаты. Постоянный широкий ассортимент запасных частей на наших складах, позволяет нам оперативно реагировать на поступающие запросы и осуществлять ремонт в самые короткие сроки. Количество ремонтов за последние 3 года по гарантии cоставляет 8181 и 3451 не гарантийных обращений. 

				.steps.hovered
					.step
						.step__title Обслуживание
						p.step__content
							| Своевременное и квалифицированное обслуживание компьютерной техники является залогом беспроблемной её эксплуатации
						.step__number 
							img(src="img/about/ic-quotes.svg")

				.steps.hovered
					.step
						.step__title Идивидуальный подход гарантирован!
						p.step__content
							| Техническая поддержка оказывается организациям и частным лицам. Индивидуальный подход к каждому клиенту гарантирован.

						.step__number 
							img(src="img/about/ic-client.svg")

			.about-img
				.row
					.gallery
						a(href="img/about/about1.jpg")
							img.half(src="img/about/about1.jpg")
						a(href="img/about/about2.jpg")
							img.half(src="img/about/about2.jpg")

			.container-text
				p Администрирование компьютеров, ноутбуков, и аксессуаров выполняется нашей командой сервисного центра, это команда из ИТ-специалистов с более чем 10-летним опытом работы на молдавском рынке информационных технологий. Наш персонал сертифицирован топом мировых ИТ-вендоров, таких как IBM, Lenovo, Acer, Canon, APC, DELL, Toshiba. На все выполненные работы предоставляется гарантия.


			.row-flex.marg-lg-b40.counters
				.featured-widget.col-flex.marg-md-b30
					h3.text-center 		700
					h5.text-center 		Мировых брендов
					p.text-center В портфеле компании ACCENT более 70 мировых брендов и производителей.

				.featured-widget.col-flex.marg-md-b30
					h3.text-center 		20 000
					h5.text-center 		Счетов-фактур
					p.text-center Ежегодно ACCENT выдаёт более 20000 счетов-фактур.

				.featured-widget.col-flex.marg-md-b30
					h3.text-center 		3 000
					h5.text-center 		Товаров
					p.text-center Предложение ACCENT включает в себя более 3000 товаров на складе.

				.featured-widget.col-flex.marg-md-b30
					h3.text-center 		400+
					h5.text-center 		Клиентов
					p.text-center Клиентская база ACCENT включает в себя более 400 клиентов.

	



			.about-img
				.row
					.gallery
						a(href="img/about/about1.jpg")
							img.half(src="img/about/about1.jpg")
						a(href="img/about/about2.jpg")
			
							img.half(src="img/about/about2.jpg")
		.final-block
			.container-text
				.row
					.col-lg-7.col-sm-12
						h1 У нас есть все условия для предоставления услуг высокого качества

						ul.about-list
							li.cat-item
								svg.ic-list
									use(xlink:href='#ic-triangle') 
								| Свой отдел логистики;
							li.cat-item
								svg.ic-list
									use(xlink:href='#ic-triangle')  
								| Сертифицированные специалисты;
							li.cat-item
								svg.ic-list
									use(xlink:href='#ic-triangle')  
								| Профессиональное оборудование;
							li.cat-item
								svg.ic-list
									use(xlink:href='#ic-triangle')  
								| Доступ к заказам оригинальных запчастей;
							li.cat-item
								svg.ic-list
									use(xlink:href='#ic-triangle') 
								| Мы сертифицированы ISO 9001:2000.
						


			
				.text-slogan.text-center Мы гарантируем Вам качественный ремонт, приемлемые цены и высокий уровень обслуживания!
