extends ./templates/layout

block title
	title Blog

block content
	.page-header
		.container
			h1.page-header__title FAQ
	section.blog
		.container
			.row
				.col-xs-12.col-lg-9
					.widget
						.card.latest-news
							include templates/blog_block
							include templates/blog_block
							include templates/blog_block
							include templates/blog_block
							include templates/blog_block
							include templates/blog_block

					include templates/pagination

				.col-xs-12.col-lg-3
					include templates/sidebar
	.sertificated-brands
		.container
			.row.marg-lg-b30
				.col-md-12
					.widget
						.title-with-button
							h3.widget-title Авторизированные бренды
							br
							span.grey-text Мы сертифицированы по следующим бредам
							a.btn.title-with-button__button(href="#") Все бренды
		include templates/parteners
