extends ./templates/layout

block title
	title Контакты

block content
	.page-header
		.container
			h1.page-header__title Контакты

	section.contacts
		.container
			.row-flex.marg-lg-b40
				.featured-widget.col-flex.marg-md-b30
					span.ic-contacts
						svg
							use(xlink:href='#ic-phone')
					p.text-center
						strong Телефон
					a.text-center(href="tel:022 333 654") 022 333 654


				.featured-widget.col-flex.padd-5.marg-md-b30
					span.ic-contacts
						svg
							use(xlink:href='#ic-email')
					p.text-center
						strong E-mail
					a.text-center(href="mailto:mail@email.com") mail@email.com

				.featured-widget.col-flex.padd-5.marg-md-b30
					span.ic-contacts
						svg
							use(xlink:href='#ic-local')
					p.text-center
						strong Адресс
					p.text-center г.Кишинев, ул. Болгарская 33/1
			.row
				.col-lg-4.marg-sm-b30
					.schedule-bg
						.time-table
							.inner-bg
								dl.week-day
									dt Понедельник
									dd.week-day__line
									dd 8:00-16:00
								dl.week-day.light-bg
									dt Вторник
									dd.week-day__line
									dd 8:00-16:00
								dl.week-day.today
									dt Среда
									dd.week-day__line
									dd 8:00-16:00
								dl.week-day.light-bg
									dt Четверг
									dd.week-day__line
									dd 8:00-16:00
								dl.week-day
									dt Пятница
									dd.week-day__line
									dd 8:00-16:00
								dl.week-day.light-bg
									dt Суббота
									dd.week-day__line
									dd 8:00-16:00
								dl.week-day
									dt Влскресение
									dd.week-day__line
									dd 8:00-16:00
				// end of .col
				.col-lg-8
					.textwidget
						div(role='form', lang='en-US')
							form.js-contact-form(action='mail.php', method='POST')
								.row
									.col-xs-12.col-lg-5.marg-sm-b25
										span.name
											input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Your Name')
											span.error-text.error-text-vis Error text
										span.your-email
											input.form-control.wpcf7-text(type='email', name='fields[email]', required='', value='', size='40', placeholder='E-mail address')
											span.error-text.error-text-vis Error text
										span.your-subject
											input.form-control.wpcf7-text(type='text', name='fields[subject]', value='', size='40', placeholder='Subject')
											span.error-text.error-text-vis Error text
									.col-xs-12.col-lg-7
										span.your-message
											textarea.form-control.wpcf7-text(name='fields[text]', required='', cols='40', rows='10', placeholder='Message')
										br
										button.btn.btn-primary.btn-rounded(type='submit', value='SEND MESSAGE') Отправить сообщение

				// end of .col

