extends ./templates/layout

block title
  title Home

block content
  .header-sliders
    #main-slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide(style="background-image:url(img/slide1.jpg)")
            .slide-img
              h1.h-slider Accent Elecronic
              p.p-slider Авторизированный сервис центр
              button.btn.btn-primary.btn-rounded Вызвать мастера
          .swiper-slide(style="background-image:url(img/slide2.jpg)")
            .slide-img
              h1.h-slider Accent Elecronic
              p.p-slider Авторизированный сервис центр
              button.btn.btn-primary.btn-rounded вызвать мастера
          .swiper-slide(style="background-image:url(img/slide3.jpg)")
            .slide-img
              h1.h-slider Accent Elecronic
              p.p-slider Авторизированный сервис центр
              button.btn.btn-primary.btn-rounded Вызвать мастера
        // Add Arrows
        .slider-arrow-left
          svg
            use(xlink:href='#ic-arow-right')
        .slider-arrow-right
          svg
            use(xlink:href='#ic-arow-right')


    .block-partn
      include templates/partners_header
  .latest-events
    .container-fluid
      .row
        .col-lg-4.no-padd
          .hero-columns__item.hero-columns__item--bg3(style="background-image:url(img/bg1.jpg)")
            .hero-columns__content
              h3.hero-columns__title Lorem ipsum dolor
              .hero-columns__text
                | A donec ac vestibulum integer velit faucibus, fermentum praesent. Sit id nulla, metus amet consectetuer pharetra habitasse odio tortor. Pede vivamus quisque, suscipit sed vitae commodo justo, nibh penatibus morbi quasi odio donec.
            .event-date 01 nov 2016
            a.hero-columns__cta(href='#', target='_self') Подробнее
              span.news-arrow-right
                svg
                  use(xlink:href='#ic-triangle')
            .hero-columns__overlay
        // end of .col
        .col-lg-4.no-padd
          .hero-columns__item.hero-columns__item--bg3(style="background-image:url(img/bg1.jpg)")
            .hero-columns__content
              h3.hero-columns__title Lorem ipsum dolor
              .hero-columns__text
                | A donec ac vestibulum integer velit faucibus, fermentum praesent. Sit id nulla, metus amet consectetuer pharetra habitasse odio tortor. Pede vivamus quisque, suscipit sed vitae commodo justo, nibh penatibus morbi quasi odio donec.
            .card__counter(data-final='03/02/2017')
            a.hero-columns__cta(href='#', target='_self') Подробнее
              span.news-arrow-right
                svg
                  use(xlink:href='#ic-triangle')
            .hero-columns__overlay
        // end of .col
        .col-lg-4.no-padd
          .hero-columns__item.hero-columns__item--bg3(style="background-image:url(img/bg1.jpg)")
            .hero-columns__content
              h3.hero-columns__title Lorem ipsum dolor
              .hero-columns__text
                | A donec ac vestibulum integer velit faucibus, fermentum praesent. Sit id nulla, metus amet consectetuer pharetra habitasse odio tortor. Pede vivamus quisque, suscipit sed vitae commodo justo, nibh penatibus morbi quasi odio donec.
            .event-date 01 nov 2016
            a.hero-columns__cta(href='#', target='_self') Подробнее
              span.news-arrow-right
                svg
                  use(xlink:href='#ic-triangle')
            .hero-columns__overlay

      .row
        .text-center
          a.btn.title-with-button__button(href="#") Посмотреть все события
  .services
    .container
      .title-without-btn
        h3.widget-title Ремонтные услуги и продажа запчастей
        span.grey-text Диагностика бесплатно
      .row-flex.marg-lg-b40
        .featured-widget.col-flex.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-nout')
          p.text-center
            a.textwidget__link(href='#')
              strong Ноутбук

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-pc')
          p.text-center
            a.textwidget__link(href='#')
              strong Стационарный компьютер

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg.no-fill
              use(xlink:href='#ic-media')
          p.text-center
            a.textwidget__link(href='#')
              strong Мультимедиа устройства
        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-fax')
          p.text-center
            a.textwidget__link(href='#')
              strong Принтера, факсы, сканеры, копировальные устройства

      .row-flex.marg-lg-b40
        .featured-widget.col-flex.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-pc-compl')
          p.text-center
            a.textwidget__link(href='#')
              strong Комплектующие PC

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-ups')
          p.text-center
            a.textwidget__link(href='#')
              strong UPS

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-bp')
          p.text-center
            a.textwidget__link(href='#')
              strong БП

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-tv')
          p.text-center
            a.textwidget__link(href='#')
              strong TV/Monitor
      .row-flex

        .featured-widget.col-flex.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-po')
          p.text-center
            a.textwidget__link(href='#')
              strong Работа с ПО

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-network')
          p.text-center
            a.textwidget__link(href='#')
              strong Сетевое оборудование

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-dect')
          p.text-center
            a.textwidget__link(href='#')
              strong Телефоны (DECT, радио, GSM телефонов, КПК)

        .featured-widget.col-flex.padd-5.marg-md-b30
          .ic-gear
            svg
              use(xlink:href='#ic-hdd')
          p.text-center
            a.textwidget__link(href='#')
              strong HDD


      a.btn.btn-white.btn-rounded(href="#") Продажа запчастей и комплектующих
      a.btn.btn-primary.btn-rounded(href="#") Вызов мастера
  .blog
    .container
      .row
        .col-md-12
          .widget
            .title-with-button
              h3.widget-title Часто возникающие проблемы
              br
              span.grey-text Блог
              a.btn.title-with-button__button(href='#', target='_self', title='Read more') Посмотреть все статьи
      .row
        .col-lg-4
          .widget.short-blog
            .card.latest-news.latest-news--block
              .hovereffect
                a.latest-news__image(href='#')
                  img.card-img-top(src='img/bg2.jpg', alt='Renovation in Older Homes')
                .overlay
                  time.latest-news__date(datetime='2016-04-22T10:08:47+00:00') 01 окт 2016
                  p.icon-links.tags
                    span.ic-tag
                      svg
                        use(xlink:href='#ic-tag')
                    a(href='#') tag1
                    a(href='#') tag2
                    a(href='#') tag3
              .card-block.latest-news__content.js-col-height-news
                h4.card-title.latest-news__title
                  a(href='#') Задача организации, в особенности же консультация
                .card-text.latest-news__text
                  | Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом...
                a.btn.read-more-news(href="single-blog.html") Читать дальше
                  span.more-arrow
                    svg
                      use(xlink:href='#ic-more')
        .col-lg-4
          .widget.short-blog
            .card.latest-news.latest-news--block
              .hovereffect
                a.latest-news__image(href='#')
                  img.card-img-top(src='img/bg2.jpg', alt='Finishing Window Threatment on Skyscrapers')
                .overlay
                  time.latest-news__date(datetime='2016-04-22T10:08:47+00:00') 01 окт 2016
                  p.icon-links.tags
                    span.ic-tag
                      svg
                        use(xlink:href='#ic-tag')
                    a(href='#') tag1
                    a(href='#') longertag2
                    a(href='#') long long tag3
              .card-block.latest-news__content.js-col-height-news
                h4.card-title.latest-news__title
                  a(href='#') Разнообразный и богатый опыт
                .card-text.latest-news__text
                  | Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом...
                  a.btn.read-more-news(href="single-blog.html") Читать дальше
                    span.more-arrow
                      svg
                        use(xlink:href='#ic-more')
        // /.col
        .col-lg-4
          .widget
            .latest-news__container
              a.card.latest-news.latest-news--inline(href='#')
                .card-block.latest-news__content
                  h4.card-title.latest-news__title Товарищи! новая модель организационной деятельности
                  time.latest-news__date(datetime='2016-04-22T10:06:21+00:00') 22 апр 2016
              a.card.latest-news.latest-news--inline(href='#')
                .card-block.latest-news__content
                  h4.card-title.latest-news__title Задача организации
                  time.latest-news__date(datetime='2016-04-22T10:03:31+00:00') 22 апр 2016
              a.card.latest-news.latest-news--inline(href='#')
                .card-block.latest-news__content
                  h4.card-title.latest-news__title Разнообразный и богатый опыт укрепление и развитие структуры
                  time.latest-news__date(datetime='2016-04-22T10:01:39+00:00') 22 апр 2016
              a.card.latest-news.latest-news--inline(href='#')
                .card-block.latest-news__content
                  h4.card-title.latest-news__title Равным образом консультация с широким активом
                  time.latest-news__date(datetime='2016-04-22T09:59:31+00:00') 22 апр 2016
        // /.col
      // end of .row

  .sertificated-brands
    .container
      .row.marg-lg-b30
        .col-md-12
          .widget
            .title-with-button
              h3.widget-title Авторизированные бренды
              br
              span.grey-text Мы сертифицированы по следующим брендам
              a.btn.title-with-button__button(href="#") Все бренды
    include templates/parteners
  //include templates/test.html
