extends ./templates/layout

block title
	title Новости и акции

block content
	.page-header
		.container
			h1.page-header__title Новости и акции
	section
		.container-text
			ul.tabs
				li.tab-link.current-tab(data-tab='tab-1') Все
				li.tab-link(data-tab='tab-2') Новости
				li.tab-link(data-tab='tab-3') Акции
			#tab-1.tab-content.current-tab
				include templates/news
				include templates/offer
				include templates/offer
				include templates/news
				include templates/news
			#tab-2.tab-content
				include templates/news
				include templates/news
				include templates/news
				include templates/news
				include templates/news

			#tab-3.tab-content
				include templates/offer
				include templates/offer
				include templates/offer
				include templates/offer
			include templates/pagination
	.sertificated-brands
		.container
			.row.marg-lg-b30
				.col-md-12
					.widget
						.title-with-button
							h3.widget-title Авторизированные бренды
							br
							span.grey-text Мы сертифицированы по следующим бредам
							a.btn.title-with-button__button(href="#") Все бренды
		include templates/parteners
