extends ./templates/layout

block title
	title Our autorization

block content
	section.our-authorization
		.container
			.container-text
				h1.page-header__title.mt-30 Наши авторизации
				p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
				p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
			.block-authorization
				.row-flex.marg-lg-b40
					.featured-widget.col-flex.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/acer.png")
						p.text-center
							a.textwidget__link(href='#')
								strong ACER

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/apc.png")
						p.text-center
							a.textwidget__link(href='#')
								strong APC

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/dell1.png")
						p.text-center
							a.textwidget__link(href='#')
								strong DELL
					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/ibm.png")
						p.text-center
							a.textwidget__link(href='#')
								strong IBM
				.row-flex.marg-lg-b40
					.featured-widget.col-flex.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/lenovo.png")
						p.text-center
							a.textwidget__link(href='#')
								strong LENOVO

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/mi.png")
						p.text-center
							a.textwidget__link(href='#')
								strong XIAOMI

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/sven.png")
						p.text-center
							a.textwidget__link(href='#')
								strong SVEN
					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/toshiba.png")
						p.text-center
							a.textwidget__link(href='#')
								strong TOSHIBA
			.container-text
				h3 Другие бренды с которыми мы работаем
				p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
				p Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
			.block-authorization
				.row-flex.marg-lg-b40
					.featured-widget.col-flex.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/Green.jpg")
						p.text-center
							a.textwidget__link(href='#')
								strong ACER

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/powerex.jpg")
						p.text-center
							a.textwidget__link(href='#')
								strong Apacer

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/samsung.png")
						p.text-center
							a.textwidget__link(href='#')
								strong Biostar
					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/Trust.jpg")
						p.text-center
							a.textwidget__link(href='#')
								strong Apple
				.row-flex.marg-lg-b40
					.featured-widget.col-flex.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/Zotac.jpg")
						p.text-center
							a.textwidget__link(href='#')
								strong LENOVO

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/Zalman.jpg")
						p.text-center
							a.textwidget__link(href='#')
								strong XIAOMI

					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/port-designs.jpg")
						p.text-center
							a.textwidget__link(href='#')
								strong SVEN
					.featured-widget.col-flex.padd-5.marg-md-b30
						a.authorization-img(href="#")
							img(src="img/brands/view-sonic.png")
						p.text-center
							a.textwidget__link(href='#')
								strong TOSHIBA