extends ./templates/layout

block title
	title Repare Dell

block content
	.page-header
		.container
			h1.page-header__title Гарантийный ремонт
	section.service
		.container
			.row
				.col-xs-12.col-lg-3.sticky_column
					.sidebar
						.widget_nav_menu
							h5 Авторизированные бренды
							ul.menu
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/acer.png")
										span.right-link ACER
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/apc.png")
										span.right-link APC
								li.menu-item.current-menu-item
									a(href='#')
										img.img-brend(src="img/brands/dell1.png")
										span.right-link DELL
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/ibm.png")
										span.right-link IBM
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/lenovo.png")
										span.right-link LENOVO
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/mi.png")
										span.right-link XIAOMI
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/toshiba.png")
										span.right-link TOSHIBA
								li.menu-item
									a(href='#')
										img.img-brend(src="img/brands/sven.png")
										span.right-link SWEN
								li.menu-item
									a(href='#') Другие бренды
							button.btn.btn-primary.btn-rounded вызвать мастера
					// end of .sidebar
				.col-xs-12.col-lg-9
					.title-with-share
						h3 DELL
						.share-icons
							span.share-text Поделиться
							a.icon-container(href='#', target='_self')
								span.ic-social
									svg
										use(xlink:href='#ic-facebook')
							a.icon-container(href='#', target='_self')
								span.ic-social
									svg
										use(xlink:href='#ic-google')
							a.icon-container(href='#', target='_self')
								span.ic-social
									svg
										use(xlink:href='#ic-inst')

					p.service-text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности требуют определения и уточнения систем массового участия.
					.services-img
						.row
							.gallery
								a(href="img/bg2.jpg")
									img.half(src="img/bg2.jpg")
								a(href="img/bg2.jpg")
									img.half(src="img/bg2.jpg")
					.possible-reasons
						h4 Не подлежит ремонту по гарантии если:
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
								.step__number 1
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
								.step__number 2
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
								.step__number 3
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
								.step__number 4

	section.service-rules
		.container
			.row
				.col-lg-6.col-xs-12
					h4.header4 Правила приёма техники
					.block-rules.hentry__content
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 1
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 2
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 3
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 4
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 5
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 6
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
				.col-lg-6.col-xs-12
					h4.header4 Оставьте заявку
					form(action="#", method="post")
						input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваше Имя')
						span.error-text.error-text-vis Error text
						input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваш номер телефона')
						span.error-text Error text
						textarea.form-control.wpcf7-text(name='fields[text]', required='', cols='30', rows='7', placeholder='Сообщение')
						button.btn.btn-primary.btn-rounded Отправить заявку

	.sertificated-brands
		.container
			.row.marg-lg-b30
				.col-md-12
					.widget
						.title-with-button
							h3.widget-title Авторизированные бренды
							br
							span.grey-text Мы сертифицированы по следующим бредам
							a.btn.title-with-button__button(href="#") Узнать подробнее
		include templates/parteners


