extends ./templates/layout

block title
	title Service

block content
	.page-header
		.container
			h1.page-header__title Услуги по ремонту и диагностике
	section.service
		.container
			.row
				.col-xs-12.col-lg-3.sticky_column
					.sidebar
						.widget_nav_menu
							h5 Услуги по ремонту и диагностике
							ul.menu
								li.menu-item.current-menu-item
									a(href='#') Ноутбук
								li.menu-item
									a(href='#') Стационарный компьютер
								li.menu-item
									a(href='#') Мультимедиа устройства
								li.menu-item
									a(href='#') Принтер/Копировальное устройство/факс/сканер
								li.menu-item
									a(href='#') Ремонт UPS
								li.menu-item
									a(href='#') Ремонт PSU
								li.menu-item
									a(href='#') Ремонт TV/Monitor
								li.menu-item
									a(href='#') Работа с ПО
								li.menu-item
									a(href='#') Сетевое оборудование
								li.menu-item
									a(href='#') Ремонт телефонов (DECT, радио, GSM телефонов, КПК)
								li.menu-item
									a(href='#') Ремонт HDD
								li.menu-item
									a(href='#')
										.ic-tools
											svg
												use(xlink:href='#ic-tools')
										| Продажа зап частей
							button.btn.btn-primary.btn-rounded вызвать мастера
					// end of .sidebar
				.col-xs-12.col-lg-9
					.title-with-share
						h3 Ремонт ноутбука
						.share-icons
							span.share-text Поделиться
							a.icon-container(href='#', target='_self')
								span.ic-social
									svg
										use(xlink:href='#ic-facebook')
							a.icon-container(href='#', target='_self')
								span.ic-social
									svg
										use(xlink:href='#ic-google')
							a.icon-container(href='#', target='_self')
								span.ic-social
									svg
										use(xlink:href='#ic-inst')

					p.service-text Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации систем массового участия. Разнообразный и богатый опыт новая модель организационной деятельности требуют определения и уточнения систем массового участия.
					.services-img
						.row
							.gallery
								a(href="img/bg2.jpg")
									img.half(src="img/bg2.jpg")
								a(href="img/bg2.jpg")
									img.half(src="img/bg2.jpg")

					.possible-reasons
						h4 Возможные причины
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
								.step__number 1
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
								.step__number 2
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
								.step__number 3
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
								.step__number 4
					section.service-price
		
						h4 Цены
						.row
							.col-lg-6
								.pricing-list
									.pricing-list__item
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $140
										p.pricing-list__description
											| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
									.pricing-list__item
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $450
										p.pricing-list__description
											| С другой стороны консультация с широким активом в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.
									.pricing-list__item
										span.pricing-list__badge СКИДКА
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $50
										p.pricing-list__description
											| Таким образом сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий.
									.pricing-list__item
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $30
										p.pricing-list__description
											| Таким образом сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий.
							// end of .col
							.col-lg-6
								.pricing-list
									.pricing-list__item
										span.pricing-list__badge НОВОЕ
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $100
										p.pricing-list__description
											| Таким образом сложившаяся структура организации требуют от нас анализа существенных условий.
									.pricing-list__item
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $40
										p.pricing-list__description
											| С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет предложений
									.pricing-list__item
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $50
										p.pricing-list__description
											| Таким образом сложившаяся структура организации требуют от нас анализа существенных условий.
									.pricing-list__item
										span.pricing-list__title Название
										span.pricing-list__line
										span.pricing-list__price $23.99
										p.pricing-list__description
											| С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения направлений развития.

						// end of .col
	section.service-rules
		.container
			.row
				.col-lg-6.col-xs-12
					h4.header4 Правила приёма техники
					.block-rules.hentry__content
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 1
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 2
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 3
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 4
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 5
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
						.widget.widget-icon-box
							.icon-box
								.ic-rule
									svg
										use(xlink:href='#ic-gear')
								h4.icon-box__title Правило 6
								span.icon-box__subtitle
									| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
				.col-lg-6.col-xs-12
					h4.header4 Оставьте заявку
					form(action="#", method="post")
						input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваше Имя')
						span.error-text.error-text-vis Error text
						input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваш номер телефона')
						span.error-text Error text
						textarea.form-control.wpcf7-text(name='fields[text]', required='', cols='30', rows='7', placeholder='Сообщение')
						button.btn.btn-primary.btn-rounded Отправить заявку
	.latest-events
		.container-fluid
			.row
				.col-lg-4.no-padd
					.hero-columns__item.hero-columns__item--bg3(style="background-image:url(img/bg1.jpg)")
						.hero-columns__content
							h3.hero-columns__title Lorem ipsum dolor
							.hero-columns__text
								| A donec ac vestibulum integer velit faucibus, fermentum praesent. Sit id nulla, metus amet consectetuer pharetra habitasse odio tortor. Pede vivamus quisque, suscipit sed vitae commodo justo, nibh penatibus morbi quasi odio donec.
						.event-date 01 nov 2016
						a.hero-columns__cta(href='#', target='_self') Подробнее
							span.news-arrow-right
								svg
									use(xlink:href='#ic-arow-right')
						.hero-columns__overlay
				// end of .col
				.col-lg-4.no-padd
					.hero-columns__item.hero-columns__item--bg3(style="background-image:url(img/bg1.jpg)")
						.hero-columns__content
							h3.hero-columns__title Lorem ipsum dolor
							.hero-columns__text
								| A donec ac vestibulum integer velit faucibus, fermentum praesent. Sit id nulla, metus amet consectetuer pharetra habitasse odio tortor. Pede vivamus quisque, suscipit sed vitae commodo justo, nibh penatibus morbi quasi odio donec.
						.card__counter(data-final='03/02/2017')
						a.hero-columns__cta(href='#', target='_self') Подробнее
							span.news-arrow-right
								svg
									use(xlink:href='#ic-arow-right')
						.hero-columns__overlay
				// end of .col
				.col-lg-4.no-padd
					.hero-columns__item.hero-columns__item--bg3(style="background-image:url(img/bg1.jpg)")
						.hero-columns__content
							h3.hero-columns__title Lorem ipsum dolor
							.hero-columns__text
								| A donec ac vestibulum integer velit faucibus, fermentum praesent. Sit id nulla, metus amet consectetuer pharetra habitasse odio tortor. Pede vivamus quisque, suscipit sed vitae commodo justo, nibh penatibus morbi quasi odio donec.
						.event-date 01 nov 2016
						a.hero-columns__cta(href='#', target='_self') Подробнее
							span.news-arrow-right
								svg
									use(xlink:href='#ic-arow-right')
						.hero-columns__overlay
			.row
				.text-center
					a.btn.title-with-button__button(href="#") Посмотреть все события
	.sertificated-brands
		.container
			.row.marg-lg-b30
				.col-md-12
					.widget
						.title-with-button
							h3.widget-title Авторизированные бренды
							br
							span.grey-text Мы сертифицированы по следующим бредам
							a.btn.title-with-button__button(href="#") Узнать подробнее
		include templates/parteners


