extends ./templates/layout

block title
	title Название новости

block content
	.page-header
		.container
			h1.page-header__title Название новости
			.breadcrumbs
				a.home(href='index.html')
					span Home
				span.breadcrumbs-arrow
					svg
						use(xlink:href='#ic-arow-right')
				a.post(href='news-and-offers.html')
					span Новости и акции
				span.breadcrumbs-arrow
					svg
						use(xlink:href='#ic-arow-right')
				span Название новости
	section.single-news
		.container-text
			.block-news.latest-news--block
				.blog-img
					.hovereffect
						a.latest-news__image(href='#')
							img.card-img-top(src='img/bg2.jpg', alt='img')
						.overlay
							time.latest-news__date(datetime='2016-04-22T10:08:47+00:00') 01 окт 2016
							.share-icons
								a.icon-container(href='#', target='_self')
									span.ic-social
										svg
											use(xlink:href='#ic-facebook')
								a.icon-container(href='#', target='_self')
									span.ic-social
										svg
											use(xlink:href='#ic-google')
								a.icon-container(href='#', target='_self')
									span.ic-social
										svg
											use(xlink:href='#ic-inst')

			.hentry__content
				p
					| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
					| Значимость этих <a href="#" class="link-blog">проблем настолько очевидна</a>, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий форм развития.
				button.btn.btn-primary.btn-rounded.btn-post Какая-то кнопка
				p
					| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
					| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий форм развития.
				ul
					li
						span.icon-container
							span.ic-check
								svg
									use(xlink:href="#ic-check")
						| Пункт 1
					li
						span.icon-container
							span.ic-check
								svg
									use(xlink:href="#ic-check")
						| Пункт 2
					li
						span.icon-container
							span.ic-check
								svg
									use(xlink:href="#ic-check")
						| Пункт 3
					li
						span.icon-container
							span.ic-check
								svg
									use(xlink:href="#ic-check")
						| Пункт 4
				ul
					li
						span.icon-container
							span.ic-dot
								svg
									use(xlink:href="#ic-dot")
						| Пункт 1
					li
						span.icon-container
							span.ic-dot
								svg
									use(xlink:href="#ic-dot")
						| Пункт 2
					li
						span.icon-container
							span.ic-dot
								svg
									use(xlink:href="#ic-dot")
						| Пункт 3
					li
						span.icon-container
							span.ic-dot
								svg
									use(xlink:href="#ic-dot")
						| Пункт 4
				.steps
					.step
						.step__title Заголовок
						p.step__content
							| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
						.step__number 1
				.steps
					.step
						.step__title Заголовок
						p.step__content
							| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
						.step__number 2
				.steps
					.step
						.step__title Заголовок
						p.step__content
							| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
						.step__number 3



	.sertificated-brands
		.container
			.row.marg-lg-b30
				.col-md-12
					.widget
						.title-with-button
							h3.widget-title Авторизированные бренды
							br
							span.grey-text Мы сертифицированы по следующим бредам
							a.btn.title-with-button__button(href="#") Узнать подробнее
		include templates/parteners
