extends ./templates/layout

block title
	title Name article

block content
	.page-header
		.container
			h1.page-header__title Название статьи
			.breadcrumbs
				a.home(href='index.html')
					span Home
				span.breadcrumbs-arrow
					svg.ic-list
						use(xlink:href='#ic-triangle')
				a.post(href='blog.html')
					span FAQ
				span.breadcrumbs-arrow
					svg.ic-list
						use(xlink:href='#ic-triangle')
				span Название статьи
	section.single-blog
		.container
			.row
				.col-xs-12.col-lg-9
					.signle-post-img
						img(src='img/bg2.jpg', alt='img')
					.title-with-share
						h3 Название статьи
						.share-icons
							span.share-text Поделиться
							a.icon-container(href='#')
								span.ic-social
									svg
										use(xlink:href='#ic-facebook')
							a.icon-container(href='#')
								span.ic-social
									svg
										use(xlink:href='#ic-google')
							a.icon-container(href='#')
								span.ic-social
									svg
										use(xlink:href='#ic-inst')
					.hentry__content
						p
							| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
							| Значимость этих <a href="#" class="link-blog">проблем настолько очевидна</a>, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий форм развития.
						button.btn.btn-primary.btn-rounded.btn-post Какая-то кнопка
						p
							| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять важные задания по разработке форм развития.
							| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий форм развития.
						ul.ul-blog
							li
								span.icon-container
									span.ic-check
										svg
											use(xlink:href="#ic-check")
								| Пункт 1
							li
								span.icon-container
									span.ic-check
										svg
											use(xlink:href="#ic-check")
								| Пункт 2
							li
								span.icon-container
									span.ic-check
										svg
											use(xlink:href="#ic-check")
								| Пункт 3
							li
								span.icon-container
									span.ic-check
										svg
											use(xlink:href="#ic-check")
								| Пункт 4
						ul.ul-blog
							li
								span.icon-container
									span.ic-dot
										svg
											use(xlink:href="#ic-dot")
								| Пункт 1
							li
								span.icon-container
									span.ic-dot
										svg
											use(xlink:href="#ic-dot")
								| Пункт 2
							li
								span.icon-container
									span.ic-dot
										svg
											use(xlink:href="#ic-dot")
								| Пункт 3
							li
								span.icon-container
									span.ic-dot
										svg
											use(xlink:href="#ic-dot")
								| Пункт 4
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
								.step__number 1
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития. Равным образом укрепление и развитие структуры способствует подготовки и реализации новых предложений.
								.step__number 2
						.steps
							.step
								.step__title Заголовок
								p.step__content
									| С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки дальнейших направлений развития.
								.step__number 3


						.row
							.col-lg-6.col-xs-12
								.widget.widget-icon-box
									.icon-box
										.ic-rule
											svg
												use(xlink:href='#ic-gear')
										h4.icon-box__title Текст 1
										span.icon-box__subtitle
											| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
							.col-lg-6.col-xs-12
								.widget.widget-icon-box
									.icon-box
										.ic-rule
											svg
												use(xlink:href='#ic-gear')
										h4.icon-box__title Текст 2
										span.icon-box__subtitle
											| Равным образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития.
				.col-xs-12.col-lg-3
					include templates/sidebar
	.sertificated-brands
		.container
			.row.marg-lg-b30
				.col-md-12
					.widget
						.title-with-button
							h3.widget-title Авторизированные бренды
							br
							span.grey-text Мы сертифицированы по следующим бредам
							a.btn.title-with-button__button(href="#") Узнать подробнее
		include templates/parteners
