
<div class="blog-block">
  <div class="blog-img latest-news--block">
    <div class="hovereffect"><a class="latest-news__image" href="#"><img class="card-img-top" src="img/bg2.jpg" alt="img"/></a>
      <div class="overlay">
        <time class="latest-news__date" datetime="2016-04-22T10:08:47+00:00">01 окт 2016</time>
        <p class="icon-links tags"><a href="#">tag1</a><a href="#">tag2</a><a href="#">tag3</a></p>
      </div>
    </div>
  </div>
  <div class="blog-text">
    <h4 class="card-title latest-news__title"><a href="#">Задача организации, в особенности же консультация</a></h4>
    <div class="tags"><span class="ic-tag">
        <svg>
          <use xlink:href="#ic-tag"></use>
        </svg></span><a href="#">Tag 1</a><a href="#">Tag 2</a><a href="#">Tag 3</a></div>
    <div class="card-text latest-news__text">Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет выполнять ...</div><a class="btn read-more-news" href="single-blog.html">Читать дальше<span class="more-arrow">
        <svg>
          <use xlink:href="#ic-more"></use>
        </svg></span></a>
  </div>
</div>