
<nav class="fixed-nav">
  <div class="block-nav" id="block-nav">
    <button class="mob-btn"><span class="ic-close-menu">
        <svg>
          <use xlink:href="#ic-close-menu"></use>
        </svg></span></button>
    <div id="mainnav">
      <div class="container">
        <ul class="nav-category">
          <li class="nav-category-li"><a class="menu-active" href="about-company.html">О компании</a></li>
          <li class="nav-category-li"><a href="our-authorization.html">Наши Авторизации</a></li>
          <li class="nav-category-li"><a href="service.html">Услуги</a>
            <button class="menu-arrow-bottom">
              <svg>
                <use xlink:href="#ic-arow-right"></use>
              </svg>
            </button>
            <div class="nav-category-sub">
              <ul class="category-sub-column">
                <li class="nav-sub-li">Услуги по ремонту и диагностике</li>
                <li class="nav-sub-li"><a href="service.html">Ремонт ноутбука</a></li>
                <li class="nav-sub-li"><a href="service.html">Ремонт компьютеров</a></li>
                <li class="nav-sub-li"><a href="service.html">Ремонт мультимедиа устройств</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт принтеров/копиров/факсов/сканеров</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт комплектующих PC</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт UPS</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт PSU</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт TV/Monitor</a></li>
                <li class="nav-sub-li"><a href="#">Работа с ПО</a></li>
                <li class="nav-sub-li"><a href="#">Сетевое оборудование</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт телефонов (DECT, радио, GSM телефонов, КПК)</a></li>
                <li class="nav-sub-li"><a href="#">Ремонт HDD</a></li>
              </ul>
              <ul class="category-sub-column">
                <li class="nav-sub-li">Гарантийный ремонт</li>
                <li class="nav-sub-li"><a href="repare-brend.html">ACER</a></li>
                <li class="nav-sub-li"><a href="repare-brend.html">APC</a></li>
                <li class="nav-sub-li"><a href="repare-brend.html">DELL</a></li>
                <li class="nav-sub-li"><a href="repare-brend.html">IBM</a></li>
                <li class="nav-sub-li"><a href="repare-brend.html">LENOVO</a></li>
                <li class="nav-sub-li"><a href="#">XIAOMI</a></li>
                <li class="nav-sub-li"><a href="#">TOSHIBA</a></li>
                <li class="nav-sub-li"><a href="#">SWEN</a></li>
                <li class="nav-sub-li"><a href="#">Другие бренды</a></li>
                <button class="btn btn-primary btn-rounded">вызвать мастера</button>
              </ul>
              <ul class="category-sub-column">
                <li class="nav-sub-li"><a class="nav-sub-link" href="#">Продажа зап частей</a>
                  <!--.ic-gear-->
                  <!--	svg-->
                  <!--		use(xlink:href='#ic-gear')--><a class="repare" href="#"><img src="img/repare.jpeg"/></a>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-category-li"><a href="#">Новости и Акции</a></li>
          <li class="nav-category-li"><a href="#">Наши преимущества</a></li>
          <li class="nav-category-li"><a href="blog.html">FAQ</a></li>
          <li class="nav-category-li"><a href="contacts.html">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
  <button class="open-btn"><span class="ic-menu">
      <svg>
        <use xlink:href="#ic-menu"></use>
      </svg></span></button>
</nav>