
<nav class="navigation pagination">
  <div class="nav-links"><a class="first page-numbers" href="#"><span class="pag-first">
        <svg>
          <use xlink:href="#ic-first-page"></use>
        </svg></span></a><a class="prev page-numbers" href="#"><span class="pag-arrow-prev">
        <svg>
          <use xlink:href="#ic-arow-right"></use>
        </svg></span></a><span class="page-numbers current">1</span><a class="page-numbers" href="#">2</a><a class="page-numbers" href="#">3</a><a class="page-numbers" href="#">4</a><a class="next page-numbers" href="#"><span class="pag-arrow">
        <svg>
          <use xlink:href="#ic-arow-right"></use>
        </svg></span></a><a class="last page-numbers" href="#"><span class="pag-last">
        <svg>
          <use xlink:href="#ic-first-page"></use>
        </svg></span></a></div>
</nav>