
<div class="parteners-header">
  <div class="container-fluid">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="img/brands/lenovo.png"/></div>
        <div class="swiper-slide"><img src="img/brands/toshiba.png"/></div>
        <div class="swiper-slide"><img src="img/brands/acer.png"/></div>
        <div class="swiper-slide"><img src="img/brands/sven.png"/></div>
        <div class="swiper-slide"><img src="img/brands/apc.png"/></div>
        <div class="swiper-slide"><img src="img/brands/ibm.png"/></div>
        <div class="swiper-slide"><img src="img/brands/dell1.png"/></div>
        <div class="swiper-slide"><img src="img/brands/mi.png"/></div>
      </div>
    </div>
  </div>
</div>