
<button class="btn btn-primary btn-rounded describe-problem" type="button" data-toggle="modal" data-target="#modalWin">Опиши свою проблему</button>
<div class="widget widget_categories">
  <h4 class="sidebar__headings">Категории</h4>
  <ul>
    <li class="cat-item"><a href="#">категория 1</a></li>
    <li class="cat-item"><a href="#">категория 2</a></li>
    <li class="cat-item"><a href="#">категория 3</a></li>
    <li class="cat-item"><a href="#">категория 4</a></li>
    <li class="cat-item"><a href="#">категория 5</a></li>
  </ul>
</div>
<div class="widget widget_recent_entries">
  <h4 class="sidebar__headings">Новые публикации</h4>
  <ul>
    <li><a href="#">Заголовок статьи блога 1<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 2<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 3<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 4<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 5<span class="date-news">22 апр 2016</span></a></li>
  </ul>
</div>
<div class="widget widget_recent_entries">
  <h4 class="sidebar__headings">Популярные публикации</h4>
  <ul>
    <li><a href="#">Заголовок статьи блога 1<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 2<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 3<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 4<span class="date-news">22 апр 2016</span></a></li>
    <li><a href="#">Заголовок статьи блога 5<span class="date-news">22 апр 2016</span></a></li>
  </ul>
</div>