footer
	.container-fluid

		.row
			.col-lg-12.col-md-12
				.footer-block-info
					.widget.widget_text
						.textwidget
							.footer-featured
								img(src='img/logo.svg', alt='Footer Logo')
								.footer-icons
									a.icon-container(href='#', target='_self')
										span.ic-social
											svg
												use(xlink:href='#ic-facebook')
									a.icon-container(href='#', target='_self')
										span.ic-social
											svg
												use(xlink:href='#ic-google')
									a.icon-container(href='#', target='_self')
										span.ic-social
											svg
												use(xlink:href='#ic-inst')
									a.icon-container(href='#', target='_self')
										span.ic-social
											svg
												use(xlink:href='#ic-facebook')
								.footer-contacts
									p.marg-lg-b10
										span.icon-container
											span.ic-header
												svg
													use(xlink:href='#ic-local')
										| г.Кишинев, ул.Болгарская 33/1
									p.marg-lg-b10
										span.icon-container
											span.ic-header
												svg
													use(xlink:href='#ic-phone')
										| 022 333 654
									p.marg-lg-b10
										span.icon-container.marg-lg-b20
											span.ic-header
												svg
													use(xlink:href='#ic-email')
										| info@info.com

				.footer-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5440.461162315969!2d28.83181099837572!3d47.016078790090795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97c25144f6559%3A0xf1fe516eec7a46f!2zU3RyYWRhIEJ1bGdhcsSDIDMzLzEsIENoaciZaW7Eg3UsINCc0L7Qu9C00L7QstCw!5e0!3m2!1sru!2s!4v1484232260750', frameborder='0', style='border:0', allowfullscreen='')




		.row
			.col-lg-12.col-md-12
				ul.menu-footer
					li
						a(href="#") О компании
					li
						a(href="#") Наши Авторизации
					li
						a(href="#") Услуги
					li
						a(href="#") Новости и Акции
					li
						a(href="#") Наши преймущества
					li
						a(href="#") FAQ
					li
						a(href="#") Контакты
	.develop
		p Developed by
			a(href="#")
				img(src="img/logo-webus.svg" alt="webus")
