header
	.header-top
		.container
			.header-top-info
				.top-info
					span.ic-header
						svg
							use(xlink:href='#ic-local')
					h5 ул. Болгарская 33/1
				.top-info
					span.ic-header
						svg
							use(xlink:href='#ic-clock')
					h5 Время работы 9:00 - 18:00
				.top-info
					span.ic-header
						svg
							use(xlink:href='#ic-phone')
					h5 тел: 022 333 654
				.header-lang
					a(href="#") RO
					a.lang-active(href="#") РУ
					a(href="#") ENG
	.header-bottom
		.container
			.header-bottom-container
				.logo-container
					a(href="index.html")
						img(src="img/logo.svg")
				.counter
					h3 Ремонтов выполнено:
						span#repare(data-num="5555") 5555
				.block-btn
					a.btn.btn-white.btn-rounded(href="#") Проверить заявку он-лайн
					button.openModal.btn.btn-primary.btn-rounded(data-modal="#modal2") Заказать звонок
	// Modal for Заказать звонок
	.modal#modal2
		.modal__wrapper
			.modal-header
				button.modal__close.close x
				h4 Заказать звонок
			.modal-body
				form(action="#", method="post")
					input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваше Имя')
					input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваш номер телефона')
					textarea.form-control.wpcf7-text(name='fields[text]', required='', cols='30', rows='7', placeholder='Сообщение')
					button.btn.btn-primary.btn-rounded Отправить заявку