.icons-hidden
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-arow-right(viewbox='0 0 8.65 14.71', fill='none', stroke-linecap='round', stroke-linejoin='round')
			polyline(points='0.5 0.5 8.15 7.37 0.63 14.21')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-close-menu(viewbox='0 0 24 24.3', style='enable-background:new 0 0 24 24.3;')
			path(d='M20.8,4.4l-0.7-0.7L12,11.8L3.9,3.6L3.1,4.4l8.1,8.1l-8.1,8.1l0.7,0.7l8.1-8.1l8.1,8.1l0.7-0.7l-8.1-8.1L20.8,4.4z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-menu(viewbox='0 0 100 61.5', style='enable-background:new 0 0 100 61.5;')
			g(transform='translate(0,-952.36218)')
				path(d='M26,962.9c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h48c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H26z M26,978.9c-1.1,0-2,0.9-2,2\
				  c0,1.1,0.9,2,2,2h48c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H26z M26,994.9c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h48c1.1,0,2-0.9,2-2\
				  c0-1.1-0.9-2-2-2H26z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-gear(viewbox='0 0 100 100', style='enable-background:new 0 0 100 100;')
			path(d='M22.5,51.7c-0.8-0.3-1.7-0.6-2.5-1l-1.7,1.2c-2.4,1.6-5.6,1.4-7.6-0.7l-2.3-2.3c-2-2.1-2.3-5.3-0.7-7.6l1.2-1.7\
			c-0.3-0.6-0.6-1.3-0.8-1.9L6,37.3c-2.8-0.5-4.9-3-4.9-5.9v-3.3c0-2.9,2.1-5.4,4.9-5.9l2.1-0.4c0.2-0.7,0.5-1.3,0.8-1.9l-1.2-1.7\
			c-1.6-2.4-1.4-5.6,0.7-7.6l2.3-2.3c2.1-2,5.3-2.3,7.6-0.7L20,8.9c0.6-0.3,1.3-0.6,1.9-0.8L22.3,6c0.5-2.8,3-4.9,5.9-4.9h3.3\
			c2.9,0,5.4,2.1,5.9,4.9l0.4,2.1c0.7,0.2,1.3,0.5,1.9,0.8l1.7-1.2c2.4-1.6,5.6-1.4,7.6,0.7l2.3,2.3c2,2.1,2.3,5.3,0.7,7.6L50.7,20\
			c0.4,0.8,0.7,1.6,1,2.5c0.5,1.6-0.3,3.3-1.9,3.8c-1.6,0.5-3.3-0.3-3.8-1.9l0,0c-0.3-1.1-0.8-2.1-1.4-3.1c-0.6-1-0.6-2.3,0.1-3.3\
			l2.2-3.2l-2.3-2.3l-3.2,2.3c-1,0.7-2.2,0.7-3.2,0.1c-1.3-0.7-2.7-1.3-4.1-1.7c-1.1-0.3-2-1.2-2.2-2.4L31.4,7h-3.2l-0.6,3.8\
			c-0.2,1.1-1.1,2.1-2.2,2.4c-1.4,0.4-2.8,1-4.1,1.8c-1,0.6-2.3,0.5-3.3-0.2l-3.2-2.3l-2.3,2.3l2.3,3.1c0.7,1,0.8,2.2,0.2,3.3\
			c-0.7,1.3-1.3,2.7-1.7,4.1c-0.3,1.1-1.2,2-2.4,2.2L7,28.2v3.2l3.8,0.6c1.1,0.2,2.1,1.1,2.4,2.2c0.4,1.4,1,2.8,1.8,4.1\
			c0.6,1,0.5,2.3-0.1,3.2l-2.3,3.2l2.3,2.3l3.1-2.2c1-0.7,2.2-0.7,3.2-0.1c1,0.6,2.1,1,3.2,1.4c1.6,0.5,2.4,2.2,1.9,3.8\
			S24,52.2,22.5,51.7L22.5,51.7z M75.6,62c0,7.6-6.1,13.7-13.7,13.7S48.3,69.5,48.3,62s6.1-13.7,13.7-13.7h0\
			C69.5,48.3,75.6,54.4,75.6,62z M69.6,62c0-4.2-3.4-7.7-7.7-7.7c-4.2,0-7.7,3.4-7.7,7.7c0,4.2,3.4,7.7,7.7,7.7h0\
			C66.2,69.6,69.6,66.2,69.6,62z M98.9,59.8v4.3c0,3.4-2.4,6.2-5.7,6.8l-3.3,0.6c-0.4,1.2-0.9,2.4-1.4,3.5l1.9,2.7\
			c1.9,2.7,1.6,6.5-0.8,8.9l-3.1,3.1c-2.4,2.4-6.1,2.7-8.9,0.8L75,88.5c-1.1,0.6-2.3,1-3.5,1.4l-0.6,3.3c-0.6,3.3-3.5,5.7-6.8,5.7\
			h-4.3c-3.4,0-6.2-2.4-6.8-5.7l-0.6-3.3c-1.2-0.4-2.4-0.9-3.5-1.4l-2.8,1.9c-2.7,1.9-6.5,1.6-8.9-0.8l-3.1-3.1\
			c-2.4-2.4-2.7-6.1-0.8-8.9l1.9-2.7c-0.5-1.1-1-2.3-1.4-3.5l-3.3-0.6c-3.3-0.6-5.7-3.4-5.7-6.8v-4.3c0-3.3,2.4-6.2,5.7-6.8l3.3-0.6\
			c0.4-1.2,0.9-2.4,1.5-3.5l-2-2.7c-1.9-2.7-1.6-6.5,0.8-8.9l3-3c2.4-2.4,6.1-2.7,8.9-0.8l2.7,1.9c1.1-0.5,2.3-1,3.5-1.4l0.6-3.3\
			c0.6-3.3,3.5-5.7,6.8-5.7h4.3c3.4,0,6.2,2.4,6.8,5.7l0.6,3.3c1.2,0.4,2.4,0.9,3.5,1.4l2.7-1.9c2.7-1.9,6.5-1.6,8.9,0.8l3.1,3\
			c2.4,2.4,2.7,6.1,0.8,8.9l-1.9,2.7c0.6,1.1,1,2.3,1.4,3.5l3.3,0.6l0,0C96.5,53.6,98.9,56.4,98.9,59.8z M92.9,59.8\
			c0-0.4-0.3-0.8-0.8-0.9L87.1,58c-1.1-0.2-2.1-1.1-2.4-2.2c-0.5-2-1.3-3.9-2.3-5.6c-0.6-1-0.5-2.2,0.1-3.2l3-4.2\
			c0.3-0.4,0.2-0.9-0.1-1.2l-3.1-3c-0.3-0.3-0.8-0.4-1.2-0.1l-4.2,3c-1,0.7-2.2,0.7-3.2,0.1c-1.8-1-3.7-1.8-5.6-2.3\
			c-1.1-0.3-2-1.2-2.2-2.4L65,31.7c-0.1-0.4-0.5-0.8-0.9-0.8h-4.3c-0.4,0-0.8,0.3-0.9,0.8L58,36.8c-0.2,1.1-1.1,2.1-2.2,2.4\
			c-2,0.5-3.9,1.3-5.6,2.3c-1,0.6-2.2,0.5-3.2-0.1l-4.2-3c-0.4-0.3-0.9-0.2-1.2,0.1l-3,3c-0.3,0.3-0.4,0.8-0.1,1.2l3,4.2\
			c0.7,1,0.7,2.2,0.1,3.2c-1,1.8-1.8,3.7-2.3,5.6c-0.3,1.2-1.3,2-2.4,2.2l-5.1,0.9C31.3,59,31,59.3,31,59.8v4.3c0,0.4,0.3,0.8,0.8,0.9\
			l5.1,0.9c1.1,0.2,2.1,1.1,2.4,2.2c0.5,2,1.3,3.9,2.3,5.6c0.6,1,0.5,2.3-0.1,3.2l-3,4.2c-0.3,0.4-0.2,0.9,0.1,1.2l3,3.1\
			c0.3,0.3,0.8,0.4,1.2,0.1l4.2-3c1-0.7,2.2-0.7,3.2-0.1c1.8,1,3.7,1.8,5.6,2.3c1.2,0.3,2,1.2,2.2,2.4l0.9,5.1\
			c0.1,0.4,0.5,0.8,0.9,0.8h4.3c0.4,0,0.8-0.3,0.9-0.8l0.9-5.1c0.2-1.1,1.1-2.1,2.2-2.4c2-0.5,3.9-1.3,5.6-2.3c1-0.6,2.3-0.5,3.2,0.1\
			l4.2,3c0.4,0.3,0.9,0.2,1.2-0.1l3.1-3.1c0.3-0.3,0.4-0.8,0.1-1.2l-3-4.2c-0.7-1-0.7-2.2-0.1-3.2c1-1.8,1.8-3.7,2.3-5.6\
			c0.3-1.1,1.2-2,2.4-2.2l5.1-0.9c0.4-0.1,0.8-0.5,0.8-0.9L92.9,59.8z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-local(viewBox="0 0 55 90")
			g
				path(d='M26.4,86c-0.6,0-1.1-0.3-1.3-0.8L4.5,37.6c-1.3-3-2-6.2-2-9.6c0-13.1,10.7-23.8,23.8-23.8c13.1,0,23.8,10.7,23.8,23.8\
			  c0,3.3-0.7,6.5-2,9.6L27.6,85.2C27.4,85.7,26.9,86,26.4,86z M26.4,6.1c-12.1,0-22,9.9-22,22c0,3.1,0.6,6,1.8,8.8l20.1,46.6\
			  l20.1-46.6c1.2-2.8,1.8-5.8,1.8-8.8C48.3,15.9,38.5,6.1,26.4,6.1z M26.4,43.2c-4.5,0-8.8-2-11.7-5.5c-2.2-2.7-3.4-6.1-3.4-9.6\
			  c0-8.3,6.8-15.1,15.1-15.1c8.3,0,15.1,6.8,15.1,15.1c0,3.5-1.2,6.9-3.4,9.6C35.2,41.2,30.9,43.2,26.4,43.2z M26.4,14.8\
			  c-7.3,0-13.3,6-13.3,13.3c0,3.1,1.1,6,3,8.4c2.5,3.1,6.3,4.9,10.3,4.9s7.7-1.8,10.3-4.9c1.9-2.4,3-5.4,3-8.4\
			  C39.6,20.7,33.7,14.8,26.4,14.8z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-phone(viewBox="0 0 100 125")
			g
				path(d='M23.7,7.9c0.8,0,1.6,0.5,1.9,1.2L31.3,21c1.1,2.4,0.4,5.2-1.8,6.7l-4.1,2.9c-2.2,1.6-2.9,4.5-1.6,6.9\
					c8.4,16,21.2,29,37,37.7c0.8,0.4,1.7,0.7,2.6,0.7c1.8,0,3.5-0.9,4.5-2.4l3.2-4.9c1-1.5,2.6-2.4,4.4-2.4c0.7,0,1.4,0.1,2.1,0.4\
					l12.8,5.5c0.9,0.4,1.4,1.3,1.3,2.2l-1.3,11.3c-0.6,2-2.2,3.5-4.2,4L84.7,90c-2.1,0.6-4.4,0.9-6.6,0.9c-4.1,0-8.2-1.1-11.8-3.1\
					l-1.1-0.6C42.7,74.8,24,56.1,11.3,33.4c-3.4-6.2-4-13.5-1.6-20.2c0.6-1.6,1.8-2.9,3.5-3.6L23.4,8C23.5,7.9,23.6,7.9,23.7,7.9\
					M23.7,5.9c-0.2,0-0.5,0-0.7,0.1L12.7,7.7c-2.2,0.8-4,2.6-4.8,4.8l0,0c-2.6,7.2-2,15.2,1.7,21.9l0,0c12.8,23,31.8,42,54.8,54.8\
					l1.1,0.6c3.9,2.2,8.4,3.3,12.8,3.3c2.4,0,4.8-0.3,7.1-1l1.5-0.4c2.7-0.8,4.8-2.9,5.6-5.5l1.3-11.5c0.2-1.8-0.8-3.6-2.5-4.3\
					l-12.8-5.5c-0.9-0.4-1.9-0.6-2.9-0.6c-2.4,0-4.7,1.2-6.1,3.3l-3.2,4.9c-0.6,1-1.7,1.5-2.8,1.5c-0.6,0-1.1-0.1-1.6-0.4\
					c-15.4-8.5-28-21.3-36.2-36.9c-0.8-1.5-0.4-3.4,1-4.4l4.1-2.9c3-2,4.1-5.9,2.5-9.2L27.5,8.3C26.8,6.8,25.3,5.9,23.7,5.9L23.7,5.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-clock(viewBox="0 0 70 70")
			path(d='M34.5,64.3C17.7,64.3,4,50.6,4,33.8S17.7,3.3,34.5,3.3S65,16.9,65,33.8C65,50.6,51.3,64.2,34.5,64.3z M34.5,4.3\
			C18.2,4.3,5,17.5,5,33.8s13.2,29.5,29.5,29.5S64,50,64,33.8C64,17.5,50.8,4.3,34.5,4.3z')
			rect(x='31.5', y='26.7', transform='matrix(0.7071 -0.7071 0.7071 0.7071 -7.1128 37.3247)', width='20', height='1')
			rect(x='31', y='25.8', transform='matrix(0.7071 -0.7071 0.7071 0.7071 -12.5402 31.2902)', width='1', height='10')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-email(viewBox="0 0 100 60")
			g(transform='translate(0,-952.36218)')
				path(d='M12,955.6c-3.9,0-7,3.1-7,7v40c0,3.9,3.1,7,7,7h76c3.9,0,7-3.1,7-7v-40c0-3.9-3.1-7-7-7H12z M12,957.6h76\
			  c0.7,0,1.4,0.1,2,0.4l-36.4,34.1c-2.1,1.9-5.2,1.9-7.3,0L10,958C10.6,957.7,11.3,957.6,12,957.6z M8.3,959.2l24.4,22.8L8.3,1006\
			  c-0.8-0.9-1.3-2-1.3-3.3v-40C7,961.3,7.5,960.1,8.3,959.2L8.3,959.2z M91.7,959.2c0.8,0.9,1.3,2.1,1.3,3.4v40\
			  c0,1.3-0.5,2.5-1.3,3.3l-24.4-23.9L91.7,959.2z M34.2,983.4L45,993.6c2.8,2.6,7.2,2.6,10,0l10.8-10.1l24.3,23.7\
			  c-0.6,0.3-1.3,0.4-2.1,0.4H12c-0.7,0-1.5-0.2-2.1-0.4C9.9,1007.2,34.2,983.4,34.2,983.4z')

	// social
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-facebook(viewbox='0 0 25 25', style='enable-background:new 0 0 25 25;')
			g
				path.st0(d='M21.6,24h-4.8c-0.3,0-0.5-0.2-0.5-0.5v-8.6c0-0.3,0.2-0.5,0.5-0.5h2.5l0.6-1.9h-3.2c-0.3,0-0.5-0.2-0.5-0.5\
		      V9.1c0-1.3,1.1-2.4,2.4-2.4h1.4V4.8h-2.5c-2.4,0-4.3,1.9-4.3,4.3V12c0,0.3-0.2,0.5-0.5,0.5h-2.4v1.9h2.4c0.3,0,0.5,0.2,0.5,0.5v8.6\
		      c0,0.3-0.2,0.5-0.5,0.5H3.4C2.1,24,1,22.9,1,21.6V3.4C1,2.1,2.1,1,3.4,1h18.2C22.9,1,24,2.1,24,3.4v18.2C24,22.9,22.9,24,21.6,24z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-inst(viewbox='0 0 25 25', style='enable-background:new 0 0 25 25;')
			g
				g
					path.st0(d='M20.6,24H4.4C2.5,24,1,22.5,1,20.6V4.4C1,2.5,2.5,1,4.4,1h16.3C22.5,1,24,2.5,24,4.4v16.3\
		        C24,22.5,22.5,24,20.6,24z')
				g
					path.st0(d='M15.9,7.7h7.6')
				g
					path.st0(d='M1,7.7h8.1')
				g
					path.st0(d='M18.3,5.8h1.9V3.9h-1.9V5.8z')
				g
					path.st0(d='M12.5,18.3c-3.2,0-5.8-2.6-5.8-5.8s2.6-5.8,5.8-5.8s5.8,2.6,5.8,5.8S15.7,18.3,12.5,18.3z')
				g
					path.st0(d='M12.5,15.4c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9s2.9,1.3,2.9,2.9S14.1,15.4,12.5,15.4z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-google(viewbox='0 0 25 25', style='enable-background:new 0 0 25 25;')
			path.st0(d='M14.3,7.7C13.1,6.6,11.6,6,9.9,6c-3.6,0-6.5,3-6.5,6.5s3,6.5,6.5,6.5s6.5-3,6.5-6.5H9.9')
			g
				line.st0(x1='19.7', y1='7', x2='19.7', y2='11.7')
				line.st0(x1='22.1', y1='9.4', x2='17.4', y2='9.4')
			g
				path.st0(d='M3.4,24C2.1,24,1,22.9,1,21.6V3.4C1,2.1,2.1,1,3.4,1h18.2C22.9,1,24,2.1,24,3.4v18.2c0,1.3-1.1,2.4-2.4,2.4\
				  H3.4z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-tag(viewbox='0 0 88 87.999749', style='enable-background:new 0 0 88 87.999749;')
			path(d='m264.6 510.71c-.74.74-1.135 1.757-1.108 2.796l.997 37.707c.026 1.01.441 1.958 1.148 2.665l42.574 42.574c1.483 1.483 3.963 1.538 5.467.035l36.711-36.711c1.503-1.504 1.447-3.982-.036-5.465l-42.572-42.573c-.706-.707-1.657-1.124-2.663-1.151l-37.708-.996c-1.042-.027-2.064.374-2.805 1.118zm2.868 2.857l37.509.989 42.505 42.506-36.523 36.523-42.5-42.5-.992-37.518m11.885 11.888c-3.474 3.475-3.474 9.168 0 12.643 3.474 3.475 9.168 3.475 12.642 0 3.475-3.475 3.474-9.168 0-12.643-3.474-3.475-9.168-3.475-12.642 0m2.809 2.809c1.956-1.956 5.067-1.956 7.02 0 1.956 1.956 1.956 5.068 0 7.02-1.956 1.956-5.067 1.956-7.02 0-1.956-1.956-1.956-5.067 0-7.02', shape-rendering='auto', mix-blend-mode='normal', color-interpolation-filters='linearRGB', isolation='auto', white-space='normal', solid-opacity='1', image-rendering='auto', solid-color='#000000', color='#000', color-rendering='auto', color-interpolation='sRGB', transform='translate(-263.49-509.59)')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-more(viewbox='0 0 55 40', style='enable-background:new 0 0 55 40;')
			g(transform='translate(0,-952.36218)')
				path(d='M52.8,972c0-0.5-0.3-1.1-0.6-1.4l-16-17c-0.7-0.8-2-0.9-2.8-0.1c-0.8,0.7-0.8,2.1-0.1,2.8L46.2,970H2.8c-1.1,0-2,0.9-2,2\
			  s0.9,2,2,2h43.4l-12.8,13.6c-0.7,0.8-0.7,2.1,0.1,2.8c0.8,0.8,2.1,0.7,2.8-0.1l16-17C52.7,972.9,52.8,972.5,52.8,972L52.8,972z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-check(viewbox='0 0 100 80', style='enable-background:new 0 0 100 80;')
			path(d='M89.2,3c-1.5-1.5-4.1-1.5-5.6,0L34.1,52.5c-1.5,1.5-4,1.5-5.6,0L16.3,40.3c-1.5-1.5-4.1-1.5-5.6,0l-7.5,7.5\
			c-1.5,1.5-1.5,4,0,5.6l25.3,25.3c1.5,1.5,4,1.5,5.6,0l62.6-62.6c1.5-1.5,1.5-4.1,0-5.6L89.2,3z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-dot(viewbox='0 0 15 14.5', style='enable-background:new 0 0 15 14.5;')
			circle(cx='7.2', cy='7.1', r='6')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-tools(viewbox='0 0 512 450', style='enable-background:new 0 0 512 450;')
			g
				path(d='M485.4,92.9H362.5v-41c0-22.6-18.4-41-41-41h-131c-22.6,0-41,18.4-41,41v41H26.6C13,92.9,2,103.9,2,117.5v295\
			  C2,426,13,437,26.6,437h458.8c13.6,0,24.6-11,24.6-24.6v-295C510,103.9,499,92.9,485.4,92.9z M165.9,51.9c0-13.6,11-24.6,24.6-24.6\
			  h131.1c13.6,0,24.6,11,24.6,24.6v41H165.9V51.9z M26.6,109.3h122.9h213h122.9c4.5,0,8.2,3.7,8.2,8.2v139.3H362.5v-8.2\
			  c0-9-7.3-16.4-16.4-16.4H340c-0.4-1.1-0.9-2.3-1.4-3.4l4.4-4.4c6.4-6.4,6.4-16.8,0-23.2L319.8,178c-6.4-6.4-16.8-6.4-23.2,0\
			  l-4.4,4.4c-1.1-0.5-2.3-1-3.4-1.4v-6.2c0-9-7.3-16.4-16.4-16.4h-32.8c-9,0-16.4,7.3-16.4,16.4v6.2c-1.1,0.4-2.3,0.9-3.4,1.4\
			  l-4.4-4.4c-6.4-6.4-16.8-6.4-23.2,0L169,201.2c-6.4,6.4-6.4,16.8,0,23.2l4.4,4.4c-0.5,1.1-1,2.3-1.4,3.4h-6.2\
			  c-9,0-16.4,7.3-16.4,16.4v8.2h-131V117.5C18.4,113,22.1,109.3,26.6,109.3z M331.3,317.1l-23.2,23.2l-12.7-12.7l-5.3,2.8\
			  c-4,2.1-8,3.8-11.9,5l-5.7,1.8v18h-32.8v-18l-5.7-1.8c-4-1.2-8-2.9-11.9-5l-5.3-2.8l-12.7,12.7l-23.2-23.2l12.7-12.7l-2.8-5.3\
			  c-2.1-3.9-3.7-8-5-11.9l-1.8-5.7h-18v-32.8h18l1.8-5.7c1.3-4,2.9-8,5-11.9l2.8-5.3l-12.7-12.7l23.2-23.2l12.7,12.7l5.3-2.8\
			  c4-2.1,8-3.8,11.9-5l5.7-1.8v-18h32.8v18l5.7,1.8c4,1.2,8,2.9,11.9,5l5.3,2.8l12.7-12.7l23.2,23.2l-12.7,12.7l2.8,5.3\
			  c2.1,4,3.7,8,5,11.9l1.8,5.7h18v32.8h-18l-1.8,5.7c-1.2,4-2.9,8-5,11.9l-2.8,5.3L331.3,317.1z M485.4,420.6H26.6\
			  c-4.5,0-8.2-3.7-8.2-8.2V273.2h131.1v8.2c0,9,7.3,16.4,16.4,16.4h6.2c0.5,1.1,0.9,2.3,1.4,3.4l-4.4,4.4c-6.4,6.4-6.4,16.8,0,23.2\
			  l23.2,23.2c6.4,6.4,16.8,6.4,23.2,0l4.4-4.4c1.1,0.5,2.3,1,3.4,1.4v6.2c0,9,7.3,16.4,16.4,16.4h32.8c9,0,16.4-7.3,16.4-16.4V349\
			  c1.1-0.4,2.3-0.9,3.4-1.4l4.4,4.4c6.4,6.4,16.8,6.4,23.2,0l23.2-23.2c6.4-6.4,6.4-16.8,0-23.2l-4.4-4.4c0.5-1.1,1-2.3,1.4-3.4h6.2\
			  c9,0,16.4-7.3,16.4-16.4v-8.2h131.1v139.3C493.6,417,489.9,420.6,485.4,420.6z')
				rect(x='247.8', y='125.7', width='16.4', height='16.4')
				rect(x='280.6', y='125.7', width='16.4', height='16.4')
				rect(x='215', y='125.7', width='16.4', height='16.4')
				path(d='M256,207.6c-31.6,0-57.4,25.7-57.4,57.4s25.7,57.4,57.4,57.4s57.4-25.7,57.4-57.4S287.6,207.6,256,207.6z M256,305.9\
			  c-22.6,0-41-18.4-41-41s18.4-41,41-41s41,18.4,41,41S278.6,305.9,256,305.9z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-triangle(viewbox='0 0 43.43 32.36', style='enable-background:new 0 0 43.43 32.36;')
			path(d='M21.94,39.61L4,14.81a3.78,3.78,0,0,1,3.06-6H42.93a3.78,3.78,0,0,1,3.06,6L28.06,39.61A3.78,3.78,0,0,1,21.94,39.61Z', transform='translate(-3.29 -8.82)')
	// icons for repare service
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-nout(viewbox='0 0 100 75.3', style='enable-background:new 0 0 100 75.3;')
			g
				path(d='M83.8,23.7H16.2c-1.7,0-3.1,1.4-3.1,3.1v40.2c0,1.7,1.4,3.1,3.1,3.1h67.6c1.7,0,3.1-1.4,3.1-3.1V26.9\
				C87,25.1,85.5,23.7,83.8,23.7z M85,67.1c0,0.6-0.5,1.2-1.1,1.2H16.2c-0.6,0-1.1-0.5-1.1-1.2V26.9c0-0.6,0.5-1.1,1.1-1.1h67.6\
				c0.6,0,1.1,0.5,1.1,1.1V67.1z')
				path(d='M99,74.3h-6c0.1-0.4,0.2-0.7,0.2-1.1V20.8c0-1.7-1.4-3.1-3.1-3.1H10c-1.7,0-3.1,1.4-3.1,3.1v52.4c0,0.4,0.1,0.8,0.2,1.1H1\
				c-0.6,0-1,0.4-1,1c0,4,6.4,7.1,14.9,7.1h70.1c8.5,0,14.9-3,14.9-7.1C100,74.7,99.6,74.3,99,74.3z M85.1,80.4H14.9\
				c-6.6,0-11.5-2-12.7-4.1H10h30.5c0.4,0.7,1.1,1.1,1.9,1.1h15.2c0.8,0,1.5-0.5,1.9-1.1H90h7.7C96.5,78.4,91.6,80.4,85.1,80.4z\
				M8.8,73.2V20.8c0-0.6,0.5-1.1,1.1-1.1H90c0.6,0,1.1,0.5,1.1,1.1v52.4c0,0.6-0.5,1.1-1.1,1.1H10C9.3,74.3,8.8,73.8,8.8,73.2z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-pc(viewbox='0 0 100 74.3', style='enable-background:new 0 0 100 74.3;')
			g(transform='translate(0,-952.36218)')
				path(d='M8.9,955.4c-1.6,0-2.9,0.2-3.8,1.2S4,958.8,4,960.4v37.9c0,1.6,0.3,3,1.2,3.9c0.9,0.9,2.2,1.2,3.8,1.2h23.7l-1.4,5\
				c-2.1,0-5.2,0.3-8,1.1c-1.6,0.5-3.1,1.1-4.2,2c-1.2,0.9-2,2.3-2,3.8s0.8,2.9,2.1,4s3,1.8,5,2.3c4,1.2,9.3,1.7,14.9,1.7\
				c5.6,0,10.8-0.5,14.9-1.7c2-0.6,3.7-1.3,5-2.3c1.3-1,2.1-2.4,2.1-4c0-1.6-0.8-2.9-2-3.8c-1.2-0.9-2.6-1.5-4.2-2\
				c-2.9-0.8-5.9-1.1-8-1.1l-1.4-5H66v11c0,0.5,0.4,0.9,0.9,1c1.8,0.2,3.7,0.3,5.6,0.5v1.6c0,0.5,0.5,1,1,1h15c0.5,0,1-0.5,1-1v-1.6\
				c1.9-0.1,3.8-0.3,5.6-0.5c0.5,0,0.9-0.5,0.9-1v-50c0-0.5-0.5-1-1-1H74v-3c0-1.6-0.3-2.9-1.2-3.8s-2.2-1.2-3.8-1.2L8.9,955.4z\
				M8.9,957.4h60c1.4,0,2.1,0.2,2.4,0.6s0.6,1,0.6,2.4v38c0,1.3-0.3,1.9-0.6,2.3c-0.4,0.4-1.1,0.7-2.5,0.7c-20,0-40,0-59.9,0\
				c-1.4,0-2-0.2-2.4-0.6c-0.3-0.3-0.6-1.1-0.6-2.5c0-12.6,0-25.3,0-37.9c0-1.4,0.2-2.1,0.6-2.4S7.6,957.4,8.9,957.4z M10.8,961.4\
				c-0.4,0.1-0.8,0.5-0.8,1v34c0,0.5,0.5,1,1,1h56c0.5,0,1-0.5,1-1v-34c0-0.5-0.5-1-1-1C48.3,961.4,29.5,961.4,10.8,961.4z M12,963.4\
				h54v32H12V963.4z M74,965.4h20v48.1c-8.4,0.9-17.6,0.9-26,0v-10.1c1.7,0,3.8-0.3,4.8-1.3c0.9-0.9,1.2-2.2,1.2-3.7v-14\
				c5.3,0,11.3,0,16.5-0.2c1-0.3,1.3-1,1.5-1.8v-2c-0.1-1.1-0.7-1.5-1.5-1.8c-5.2-0.2-10.9-0.2-16.5-0.2v-2c5.3,0,12.3,0,16.5-0.2\
				c1-0.3,1.3-1,1.5-1.8v-2c-0.1-1.1-0.7-1.5-1.5-1.8c-4.2-0.2-10.9-0.2-16.5-0.2V965.4z M74,972.4c4.3,0,12.3,0,16,0.1v1.8\
				c-3.8,0.1-10.7,0.1-16,0.1V972.4z M74,980.4c5.3,0,11.3,0,16,0.1v1.8c-4.8,0.1-10.7,0.1-16,0.1V980.4z M81,1000.4c-1.1,0-2,0.9-2,2\
				s0.9,2,2,2s2-0.9,2-2S82.1,1000.4,81,1000.4z M34.7,1003.4h8.5l1.8,6.3c0.1,0.4,0.5,0.8,1,0.8c1.9,0,5.4,0.2,8.2,1.1\
				c1.4,0.4,2.7,1,3.5,1.7c0.8,0.7,1.3,1.4,1.3,2.3c0,0.9-0.4,1.6-1.4,2.4c-0.9,0.8-2.4,1.5-4.3,2c-3.7,1.1-8.9,1.6-14.3,1.6\
				c-5.4,0-10.7-0.5-14.4-1.6c-1.9-0.5-3.3-1.2-4.3-2c-0.9-0.8-1.3-1.5-1.3-2.4s0.4-1.6,1.3-2.3s2.1-1.2,3.5-1.7\
				c2.8-0.8,6.3-1.1,8.2-1.1c0.4,0,0.8-0.3,0.9-0.8L34.7,1003.4z M74.5,1015.9c4.3,0.2,8.7,0.2,13,0v0.4h-13V1015.9z')
	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-media(viewbox='0 0 100 74.3', style='enable-background:new 0 0 100 74.3;')
			g
				path(d='M27,55.2c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9c1.6,0,2.9-1.3,2.9-2.9S28.6,55.2,27,55.2z')
				rect(x='60.1', y='79.8', width='25.9', height='0.7')
				path(d='M27,35.2c5.9,0,10.8-4.8,10.8-10.8c0-5.9-4.8-10.8-10.8-10.8c-5.9,0-10.8,4.8-10.8,10.8\
				C16.2,30.3,21.1,35.2,27,35.2z M27,20.4c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4C23,22.2,24.8,20.4,27,20.4z')
				path(d='M40.1,7.2H13.9c-3.8,0-6.8,3.1-6.8,6.8v56.3c0,3.8,3.1,6.8,6.8,6.8h26.2c3.8,0,6.8-3.1,6.8-6.8V14\
				C46.9,10.3,43.9,7.2,40.1,7.2z M27,11.6c7.1,0,12.8,5.8,12.8,12.8c0,7.1-5.8,12.8-12.8,12.8s-12.8-5.8-12.8-12.8\
				C14.2,17.3,19.9,11.6,27,11.6z M27,74.8c-9.2,0-16.7-7.5-16.7-16.7S17.8,41.4,27,41.4c9.2,0,16.7,7.5,16.7,16.7\
				C43.7,67.3,36.2,74.8,27,74.8z')
				path(d='M60.3,85.8c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5h25.5c1.9,0,3.5-1.6,3.5-3.5s-1.6-3.5-3.5-3.5H60.3z')
				path(d='M27,43.5c-8.1,0-14.6,6.6-14.6,14.6S18.9,72.7,27,72.7c8.1,0,14.6-6.6,14.6-14.6C41.6,50,35.1,43.5,27,43.5z\
				M27,63.1c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S29.8,63.1,27,63.1z')
				path(d='M14.3,85.3c-1.9,0-3.5,1.6-3.5,3.5s1.6,3.5,3.5,3.5h25.5c1.9,0,3.5-1.6,3.5-3.5s-1.6-3.5-3.5-3.5H14.3z')
				path(d='M27,26.4c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2c-1.1,0-2,0.9-2,2C25,25.5,25.9,26.4,27,26.4z')
				polygon(points='39,83.3 39.5,82.1 14.5,82.1 15,83.3 	')
				rect(x='14.1', y='79.3', width='25.9', height='0.7')
				path(d='M73,35.7c5.9,0,10.8-4.8,10.8-10.8c0-5.9-4.8-10.8-10.8-10.8c-5.9,0-10.8,4.8-10.8,10.8\
				C62.2,30.8,67.1,35.7,73,35.7z M73,20.9c2.2,0,4,1.8,4,4c0,2.2-1.8,4-4,4s-4-1.8-4-4C69,22.7,70.8,20.9,73,20.9z')
				path(d='M73,55.7c-1.6,0-2.9,1.3-2.9,2.9c0,1.6,1.3,2.9,2.9,2.9s2.9-1.3,2.9-2.9C75.9,57,74.6,55.7,73,55.7z')
				path(d='M73,44c-8.1,0-14.6,6.6-14.6,14.6S64.9,73.2,73,73.2c8.1,0,14.6-6.6,14.6-14.6S81.1,44,73,44z M73,63.6\
				c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S75.8,63.6,73,63.6z')
				path(d='M86.1,7.7H59.9c-3.8,0-6.8,3.1-6.8,6.8v56.3c0,3.8,3.1,6.8,6.8,6.8h26.2c3.8,0,6.8-3.1,6.8-6.8V14.5\
				C92.9,10.8,89.9,7.7,86.1,7.7z M73,12.1c7.1,0,12.8,5.8,12.8,12.8c0,7.1-5.8,12.8-12.8,12.8c-7.1,0-12.8-5.8-12.8-12.8\
				C60.2,17.8,65.9,12.1,73,12.1z M73,75.3c-9.2,0-16.7-7.5-16.7-16.7S63.8,41.9,73,41.9c9.2,0,16.7,7.5,16.7,16.7\
				C89.7,67.8,82.2,75.3,73,75.3z')
				path(d='M73,26.9c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2c-1.1,0-2,0.9-2,2C71,26,71.9,26.9,73,26.9z')
				polygon(points='85,83.8 85.5,82.6 60.5,82.6 61,83.8 	')
				path(d='M40.1,5.2H13.9C9,5.2,5,9.2,5,14v56.3c0,4.2,3,7.8,7,8.7v2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2l0.8,2.1\
				c-2.4,0.6-4.1,2.8-4.1,5.3c0,3.1,2.5,5.5,5.5,5.5h25.5c3.1,0,5.5-2.5,5.5-5.5c0-2.6-1.8-4.7-4.1-5.3l0.8-2c0-0.1,0-0.2,0-0.3\
				c0,0,0-0.1,0-0.1v-2c4-0.9,7-4.4,7-8.7V14C49,9.2,45,5.2,40.1,5.2z M43.2,88.8c0,1.9-1.6,3.5-3.5,3.5H14.3c-1.9,0-3.5-1.6-3.5-3.5\
				s1.6-3.5,3.5-3.5h25.5C41.6,85.3,43.2,86.9,43.2,88.8z M14.1,80v-0.7h25.9V80H14.1z M39.5,82.1L39,83.3H15l-0.5-1.2H39.5z\
				M46.9,70.4c0,3.8-3.1,6.8-6.8,6.8H13.9c-3.8,0-6.8-3.1-6.8-6.8V14c0-3.8,3.1-6.8,6.8-6.8h26.2c3.8,0,6.8,3.1,6.8,6.8V70.4z')
				path(d='M27,41.4c-9.2,0-16.7,7.5-16.7,16.7S17.8,74.8,27,74.8c9.2,0,16.7-7.5,16.7-16.7C43.7,48.9,36.2,41.4,27,41.4z M27,72.7\
				c-8.1,0-14.6-6.6-14.6-14.6S18.9,43.5,27,43.5c8.1,0,14.6,6.6,14.6,14.6C41.6,66.2,35.1,72.7,27,72.7z')
				path(d='M27,53.1c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S29.8,53.1,27,53.1z M27,61c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9\
				c1.6,0,2.9,1.3,2.9,2.9C29.9,59.7,28.6,61,27,61z')
				path(d='M27,37.2c7.1,0,12.8-5.8,12.8-12.8c0-7.1-5.8-12.8-12.8-12.8s-12.8,5.8-12.8,12.8C14.2,31.5,19.9,37.2,27,37.2z M27,13.6\
				c5.9,0,10.8,4.8,10.8,10.8c0,5.9-4.8,10.8-10.8,10.8c-5.9,0-10.8-4.8-10.8-10.8C16.2,18.5,21.1,13.6,27,13.6z')
				path(d='M27,28.4c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4s-4,1.8-4,4C23,26.6,24.8,28.4,27,28.4z M27,22.4c1.1,0,2,0.9,2,2\
				c0,1.1-0.9,2-2,2c-1.1,0-2-0.9-2-2C25,23.3,25.9,22.4,27,22.4z')
				path(d='M86.1,5.7H59.9c-4.9,0-8.9,4-8.9,8.9v56.3c0,4.2,3,7.8,7,8.7v2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1,0,0.2l0.8,2.1\
				c-2.4,0.6-4.1,2.8-4.1,5.3c0,3.1,2.5,5.5,5.5,5.5h25.5c3.1,0,5.5-2.5,5.5-5.5c0-2.6-1.8-4.7-4.1-5.3l0.8-2c0-0.1,0-0.2,0.1-0.3\
				c0,0,0-0.1,0-0.1v-2c4-0.9,7-4.4,7-8.7V14.5C95,9.6,91,5.7,86.1,5.7z M89.2,89.3c0,1.9-1.6,3.5-3.5,3.5H60.3\
				c-1.9,0-3.5-1.6-3.5-3.5s1.6-3.5,3.5-3.5h25.5C87.7,85.8,89.2,87.4,89.2,89.3z M60.1,80.5v-0.7h25.9v0.7\
				C85.9,80.5,60.1,80.5,60.1,80.5z M85.5,82.6L85,83.8H61l-0.5-1.2H85.5z M92.9,70.9c0,3.8-3.1,6.8-6.8,6.8H59.9\
				c-3.8,0-6.8-3.1-6.8-6.8V14.5c0-3.8,3.1-6.8,6.8-6.8h26.2c3.8,0,6.8,3.1,6.8,6.8C92.9,14.5,92.9,70.9,92.9,70.9z')
				path(d='M73,41.9c-9.2,0-16.7,7.5-16.7,16.7S63.8,75.3,73,75.3c9.2,0,16.7-7.5,16.7-16.7C89.7,49.4,82.2,41.9,73,41.9z M73,73.2\
				c-8.1,0-14.6-6.6-14.6-14.6S64.9,44,73,44c8.1,0,14.6,6.6,14.6,14.6S81.1,73.2,73,73.2z')
				path(d='M73,53.6c-2.8,0-5,2.2-5,5s2.2,5,5,5s5-2.2,5-5S75.8,53.6,73,53.6z M73,61.5c-1.6,0-2.9-1.3-2.9-2.9c0-1.6,1.3-2.9,2.9-2.9\
				s2.9,1.3,2.9,2.9C75.9,60.2,74.6,61.5,73,61.5z')
				path(d='M73,37.7c7.1,0,12.8-5.8,12.8-12.8c0-7.1-5.8-12.8-12.8-12.8c-7.1,0-12.8,5.8-12.8,12.8C60.2,32,65.9,37.7,73,37.7z\
				M73,14.1c5.9,0,10.8,4.8,10.8,10.8c0,5.9-4.8,10.8-10.8,10.8c-5.9,0-10.8-4.8-10.8-10.8C62.2,19,67.1,14.1,73,14.1z')
				path(d='M73,28.9c2.2,0,4-1.8,4-4c0-2.2-1.8-4-4-4s-4,1.8-4,4C69,27.1,70.8,28.9,73,28.9z M73,22.9c1.1,0,2,0.9,2,2\
				c0,1.1-0.9,2-2,2c-1.1,0-2-0.9-2-2C71,23.8,71.9,22.9,73,22.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-fax(viewbox='0 0 512 516', style='enable-background:new 0 0 512 516;')
			g
				path(d='M469,116.7h-49.2V2H92.1v114.7H43c-22.6,0-41,18.4-41,41v213c0,22.6,18.4,41,41,41h49.2V510h327.7v-98.3H469\
				c22.6,0,41-18.4,41-41v-213C510,135.1,491.6,116.7,469,116.7z M108.5,18.4h295v98.3h-295V18.4z M403.5,493.6h-295V313.4h295V493.6z\
				M493.6,370.7c0,13.6-11,24.6-24.6,24.6h-49.2V297H92.1v98.3H43c-13.6,0-24.6-11-24.6-24.6v-213c0-13.6,11-24.6,24.6-24.6h426\
				c13.6,0,24.6,11,24.6,24.6V370.7z')
				rect(x='272.4', y='452.6', width='98.3', height='16.4')
				rect(x='272.4', y='411.7', width='98.3', height='16.4')
				rect(x='354.3', y='370.7', width='16.4', height='16.4')
				rect(x='321.5', y='370.7', width='16.4', height='16.4')
				rect(x='288.8', y='370.7', width='16.4', height='16.4')
				path(d='M247.8,337.9H133.1V469h114.7V337.9z M231.4,452.6h-81.9v-98.3h81.9V452.6z')
				rect(x='133.1', y='59.4', width='245.8', height='16.4')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-pc-compl(viewbox='0 0 56.3 55.8', style='enable-background:new 0 0 56.3 55.8;')
			rect(x='15.8', y='2.3', width='2.5', height='5')
			rect(x='21.3', y='2.3', width='2.5', height='5')
			rect(x='26.8', y='2.3', width='2.5', height='5')
			rect(x='32.3', y='2.3', width='2.5', height='5')
			rect(x='37.8', y='2.3', width='2.5', height='5')
			rect(x='15.8', y='47.3', width='2.5', height='5')
			rect(x='21.3', y='47.3', width='2.5', height='5')
			rect(x='26.8', y='47.3', width='2.5', height='5')
			rect(x='32.3', y='47.3', width='2.5', height='5')
			rect(x='37.8', y='47.3', width='2.5', height='5')
			rect(x='48', y='37', width='5', height='2.5')
			rect(x='48', y='31.5', width='5', height='2.5')
			rect(x='48', y='26', width='5', height='2.5')
			rect(x='48', y='20.5', width='5', height='2.5')
			rect(x='48', y='15', width='5', height='2.5')
			rect(x='3', y='37', width='5', height='2.5')
			rect(x='3', y='31.5', width='5', height='2.5')
			rect(x='3', y='26', width='5', height='2.5')
			rect(x='3', y='20.5', width='5', height='2.5')
			rect(x='3', y='15', width='5', height='2.5')
			path(d='M43,9H13c-1.8,0-3.3,1.5-3.3,3.3l0,0v30c0,1.8,1.5,3.3,3.3,3.3l0,0h30c1.8,0,3.3-1.5,3.3-3.3l0,0v-30C46.3,10.5,44.8,9,43,9\
			L43,9z M43.8,42.3c0,0.4-0.3,0.8-0.8,0.8H13c-0.4,0-0.8-0.3-0.8-0.8v-30c0-0.4,0.3-0.8,0.8-0.8h30c0.4,0,0.8,0.3,0.8,0.8V42.3z')
			path(d='M36.2,16H19.8c-1.7,0-3.1,1.4-3.1,3.1v16.4c0,1.7,1.4,3.1,3.1,3.1h16.4c1.7,0,3.1-1.4,3.1-3.1V19.1\
			C39.3,17.4,37.9,16,36.2,16z M36.8,35.4c0,0.3-0.3,0.6-0.6,0.6H19.8c-0.3,0-0.6-0.3-0.6-0.6V19.1c0-0.3,0.3-0.6,0.6-0.6h16.4\
			c0.3,0,0.6,0.3,0.6,0.6V35.4z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-ups(viewbox='0 0 57.3 52.2', style='enable-background:new 0 0 57.3 52.2;')
			path(d='M54.2,16.7V9H43.7V5.1h-6.9V9H20.5V5.1h-6.9V9H3.2v7.7h3.2v24.2H3.2v7.7h51v-7.7h-3.3V16.7H54.2z M38.9,7.1h2.9V9h-2.9V7.1z\
M15.6,7.1h2.9V9h-2.9V7.1z M52.2,42.9v3.7h-47v-3.7H52.2z M8.4,40.9V16.7h40.5v24.2H8.4z M5.2,14.7V11h47v3.7H5.2z M18,20.4h-2v2.6\
h-2.6v2H16v2.6h2v-2.6h2.6v-2H18V20.4z M36.7,25.1h7.3v-2h-7.3V25.1z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-bp(viewbox='0 0 100 85.3', style='enable-background:new 0 0 100 85.3;')
			path(d='M6.4,63.4v7.3h6.9v-7.3H6.4z M9.8,69.3c-1.2,0-2.1-1-2.1-2.2c0-1.2,1-2.2,2.1-2.2c1.2,0,2.1,1,2.1,2.2\
			C11.9,68.3,11,69.3,9.8,69.3z')
			ellipse(cx='9.8', cy='54.9', rx='3.1', ry='3.2')
			rect(x='6.1', y='59.4', width='7.6', height='1.3')
			rect(x='6', y='71.9', width='7.6', height='1.3')
			rect(x='6.1', y='47.2', width='7.6', height='1.3')
			polygon(points='12.9,41 9.9,39.2 6.8,40.8 6.7,44.4 9.7,46.3 12.8,44.6 ')
			rect(x='6.1', y='36.1', width='7.6', height='1.3')
			rect(x='6.1', y='23.9', width='7.6', height='1.3')
			polygon(points='8.5,32.7 8.2,34.8 9.8,33.4 11.3,34.9 11.2,32.8 13.2,32.6 11.6,31.3 12.7,29.6 10.7,30.1 10.1,28.1 9.2,30 \
			7.3,29.3 8.2,31.2 6.5,32.3 ')
			path(d='M12.9,21.1l0-3.6l-3.1-1.8l-3.1,1.8l0,3.6L9.8,23L12.9,21.1z M7.7,20.6l0-2.4L9.8,17l2.1,1.2l0,2.4l-2.1,1.2L7.7,20.6z')
			path(d='M0,0v2.7l0,0v76.2v2.7v1h100v-2.9v-0.7V3.6V0.8V0H0z M98.2,78.9H1.8V3.6h96.5C98.2,3.6,98.2,78.9,98.2,78.9z')
			path(d='M21.4,4.9H2.5v5.3h18.9V4.9z M20.2,9.5H3.4V5.3h16.8L20.2,9.5L20.2,9.5z')
			polygon(points='25.4,8.8 26.1,8 26.9,8.8 27.3,8.4 26.5,7.6 27.3,6.8 26.9,6.3 26.1,7.1 25.4,6.3 24.9,6.8 25.7,7.6 24.9,8.4 ')
			rect(x='29.2', y='7', width='8.5', height='1.3')
			polygon(points='45,6.3 44.2,7.1 43.4,6.3 43,6.8 43.8,7.6 43,8.4 43.4,8.8 44.2,8 45,8.8 45.4,8.4 44.6,7.6 45.4,6.8 ')
			path(d='M40.6,10.3h18.9v0h37.8V4.9H59.4H41.3h-0.8H22.5v5.3L40.6,10.3L40.6,10.3z M41.4,5.5h16.8v4H41.4V5.5z M96.3,5.5v4.2H59.4\
			V5.5H96.3z M40.2,5.5v4H23.4v-4H40.2z')
			rect(x='47.3', y='7', width='8.5', height='1.3')
			polygon(points='29,21.3 28.2,22.1 27.4,21.3 27,21.7 27.8,22.5 27,23.4 27.4,23.8 28.2,23 29,23.8 29.4,23.3 28.6,22.5 29.4,21.7 \
			')
			path(d='M92,19.9H23.9v5.3h0v41.2H92V25h0C92,25,92,19.9,92,19.9z M24.8,20.4h66.3v4.2H24.8C24.8,24.6,24.8,20.4,24.8,20.4z\
			M72.8,26.3v1.3h-9.7v-1.3H72.8z M59.4,26.3v1.3h-9.7v-1.3H59.4z M46.4,26.3v1.3h-6v-1.3H46.4z M36.7,26.3v1.3H27v-1.3H36.7z\
			M91.1,62H24.8V29.4h66.3V62z')
			rect(x='88.6', y='30.9', width='1.6', height='5.9')
			rect(x='30.4', y='22.3', width='2.4', height='0.7')
			path(d='M33.9,23.8h2.4v-2.3h-2.4V23.8z M34.3,21.9h1.6v1.6h-1.6V21.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-tv(viewbox='0 0 100 84', style='enable-background:new 0 0 100 84;')
			g
				g
					g
						path(d='M90.4,10.4v40.7c0,1.9-1.5,3.4-3.3,3.4h-75c-1.9,0-3.4-1.5-3.4-3.4V10.4c0-1.9,1.5-3.4,3.4-3.4h75\
						C88.8,7,90.4,8.5,90.4,10.4z M12.1,9c-0.8,0-1.4,0.6-1.4,1.4v40.7c0,0.7,0.6,1.3,1.4,1.3h75c0.7,0,1.3-0.6,1.3-1.3V10.4\
						c0-0.7-0.6-1.4-1.3-1.4H12.1z')
						path(d='M59.9,75.9H18.3c-0.4,0-0.7,0.3-0.7,0.6c0,0.3,0.3,0.7,0.7,0.7h62.5c0.3,0,0.6-0.3,0.6-0.7c0-0.3-0.3-0.6-0.6-0.6H61.9\
						H59.9z M9.8,4.4c-2.2,0-4,1.8-4,4v51.6c0,2.2,1.8,4,4,4h79.5c2.2,0,4-1.8,4-4V8.5c0-2.2-1.8-4-4-4C89.3,4.5,9.8,4.5,9.8,4.4z\
						M39.2,73.9h20.7V66H39.2V73.9z M61.9,73.9h18.9c1.5,0,2.6,1.2,2.6,2.6c0,1.5-1.2,2.7-2.6,2.7H18.3c-1.5,0-2.7-1.2-2.7-2.7\
						s1.2-2.6,2.7-2.6h18.9V66H9.8c-3.3,0-6-2.7-6-6V8.5c0-3.3,2.7-6,6-6h79.5c3.3,0,6,2.7,6,6v51.6c0,3.3-2.7,6-6,6H61.9V73.9z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-po(viewbox='0 0 60 49', style='enable-background:new 0 0 60 49;')
			g
				path(d='M25.9,32.8c1.2,0.9,2.4,1.7,3.7,2.2c0.1,0,0.3,0.1,0.4,0.1s0.3,0,0.4-0.1c1.3-0.5,2.6-1.2,3.7-2.2c4-3.1,5.9-7,5.9-11.7V14\
				c0-0.5-0.4-0.9-0.9-1c-3.7-0.5-6.3-2.3-8.1-3.6l-0.4-0.3c-0.3-0.2-0.8-0.2-1.1,0L29,9.5c-1.9,1.3-4.5,3.1-8.1,3.6\
				c-0.5,0.1-0.9,0.5-0.9,1v7.1C20,25.8,21.9,29.6,25.9,32.8z M22,14.9c3.6-0.7,6.2-2.4,8-3.6c1.8,1.2,4.4,3,8,3.6v6.2\
				c0,4.1-1.6,7.4-5.2,10.1c-0.9,0.7-1.9,1.3-2.9,1.7c-1-0.4-1.9-1-2.9-1.7c-3.5-2.8-5.1-6-5.1-10.1V14.9z')
				path(d='M58.4,42H57V4.1C57,1.8,55.2,0,52.9,0H7.1C4.8,0,3,1.8,3,4.1V42H1.6C0.7,42,0,42.7,0,43.6v2.8C0,47.3,0.7,48,1.6,48h56.8\
				c0.9,0,1.6-0.7,1.6-1.6v-2.8C60,42.7,59.3,42,58.4,42z M5,4.1C5,2.9,5.9,2,7.1,2h45.9C54.1,2,55,2.9,55,4.1V42H35.2L35,42.7\
				c0,0.2-0.2,0.3-0.5,0.3h-8c-0.2,0-0.4-0.2-0.5-0.3L25.8,42H5V4.1z M58,46H2v-2h1h21.5c0.5,0.6,1.2,1,2,1h8c0.8,0,1.5-0.4,2-1H57h1\
				V46z')
				path(d='M54,3H6v38h48V3z M52,39H8V5h44V39z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-network(viewbox='0 0 512 517', style='enable-background:new 0 0 512 517;')
			g
				path(d='M190.5,182.3h-24.6v16.4h180.3v-16.4h-24.6v-16.4H379V2H133.1v163.9h57.4V182.3z M305.2,182.3h-98.3v-16.4h98.3V182.3z\
				M149.5,149.5V18.4h213v131.1H149.5z')
				path(d='M469,412.4v-82.7H297V297h-32.8v-82h-16.4v82H215v32.8H43v82.7c-23.2,3.9-41,24.1-41,48.4c0,27,22.1,49.1,49.2,49.1\
				s49.2-22.1,49.2-49.2c0-24.3-17.8-44.5-41-48.4v-66.3H215v32.8h32.8v33.5c-23.2,3.9-41,24.1-41,48.4c0,27.1,22.1,49.2,49.2,49.2\
				s49.2-22.1,49.2-49.2c0-24.3-17.8-44.5-41-48.4v-33.5H297v-32.8h155.7v66.3c-23.2,3.9-41,24.1-41,48.4c0,27.1,22.1,49.2,49.2,49.2\
				s49.2-22.1,49.2-49.2C510,436.5,492.2,416.3,469,412.4z M83.9,460.8c0,18.1-14.7,32.8-32.8,32.8s-32.8-14.7-32.8-32.8\
				S33,428,51.1,428C69.2,428.1,83.9,442.8,83.9,460.8z M288.8,460.8c0,18.1-14.7,32.8-32.8,32.8s-32.8-14.7-32.8-32.8\
				S237.9,428,256,428C274.1,428.1,288.8,442.8,288.8,460.8z M280.6,362.5h-49.2v-49.2h49.2V362.5z M460.8,493.6\
				c-18.1,0-32.8-14.7-32.8-32.8s14.7-32.8,32.8-32.8c18.1,0,32.8,14.7,32.8,32.8S478.9,493.6,460.8,493.6z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-dect(viewbox='0 0 100 97.8', style='enable-background:new 0 0 100 97.8;')
			g(transform='translate(0,-952.36218)')
				path(d='M34,958.4c-6.1,0-11,4.9-11,11v66c0,6.1,4.9,11,11,11h32c6.1,0,11-4.9,11-11v-66c0-6.1-4.9-11-11-11H34z M34,962.4h32\
				c3.6,0,6.5,2.6,6.9,6H27.1C27.5,964.9,30.4,962.4,34,962.4z M27,972.4h46v56H27V972.4z M27,1032.4h46v3c0,3.9-3.1,7-7,7H34\
				c-3.9,0-7-3.1-7-7V1032.4z M50,1034.4c-1.7,0-3,1.3-3,3s1.3,3,3,3c1.7,0,3-1.3,3-3S51.7,1034.4,50,1034.4z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-hdd(viewbox='0 0 24 24.8', style='enable-background:new 0 0 24 24.8;')
			g
				path(d='M19,0H5C3.9,0,3,0.9,3,2v20c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V2C21,0.9,20.1,0,19,0z M20,22c0,0.6-0.4,1-1,1h-7v-1.7\
				c0-0.5-0.4-1.3-0.8-1.6L10,18.7l1.8-1.8c0.1,0,0.2,0,0.3,0c3.9,0,7-3.1,7-7s-3.1-7-7-7s-7,3.1-7,7c0,3.3,2.3,6.1,5.5,6.8l-1.3,1.3\
				l-3.4-2.5C5.4,15.3,4.6,15,4,15l0,1c0.3,0,0.9,0.2,1.2,0.4l3.2,2.5l-1.3,1.3c-0.2,0.2-0.2,0.5,0,0.7C7.2,21,7.4,21,7.5,21\
				s0.3,0,0.4-0.1l1.4-1.4l1.4,1c0.2,0.1,0.4,0.6,0.4,0.8V23H5c-0.6,0-1-0.4-1-1v-7V2c0-0.6,0.4-1,1-1h14c0.6,0,1,0.4,1,1V22z\
				M16.4,11.6c-0.2-0.2-0.5-0.2-0.7,0L11.3,16c-3-0.3-5.3-2.9-5.3-6c0-3.3,2.7-6,6-6s6,2.7,6,6c0,3.1-2.3,5.6-5.2,5.9l3.6-3.6\
				C16.5,12.2,16.5,11.8,16.4,11.6z')
				circle(cx='5.5', cy='2.5', r='0.5')
				circle(cx='18.5', cy='2.5', r='0.5')
				circle(cx='12', cy='10', r='0.5')
				circle(cx='5.5', cy='21.5', r='0.5')
				circle(cx='18.5', cy='21.5', r='0.5')
				path(d='M12,7.5c-1.4,0-2.5,1.1-2.5,2.5s1.1,2.5,2.5,2.5s2.5-1.1,2.5-2.5S13.4,7.5,12,7.5z M12,11.5c-0.8,0-1.5-0.7-1.5-1.5\
				s0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5S12.8,11.5,12,11.5z')

	svg(xmlns='http://www.w3.org/2000/svg')
		symbol#ic-first-page(viewbox='0 0 35 49')
			g
				polyline.st0(points='31.2,2.5 4.8,24.7 31.2,47 	')
				line.st0(x1='4.8', y1='47.7', x2='4.8', y2='1.7')








