doctype html
html(lang='en')

   head
      block title
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(href="css/bootstrap.min.css", rel="stylesheet")
      link(href="css/style.css", rel="stylesheet", type="text/css")
      link(href="css/simplelightbox.min.css", rel="stylesheet", type="text/css")
      link(href="css/asScrollable.min.css", rel="stylesheet", type="text/css")
      link(href="css/swiper.min.css", rel="stylesheet", type="text/css")
      link(href="css/main.css", rel="stylesheet", type="text/css")




   body
      include fixed_nav
      include header
      include nav


      //CONTENT
      .content
         block content
      //x - content


      // FOOTER
      include footer
      include icons

      script(src="js/jquery-2.2.3.min.js")
      script(src="js/simple-lightbox.min.js")
      script(src="js/jquery-asScrollbar.js")
      script(src="js/jquery-asScrollable.min.js")

      script(src="js/countUp.min.js")
      script(src="js/jquery.countdown.min.js")
      script(src="js/initCounter.js")

      script(src="js/swiper.min.js")
      script(src="js/jquery.sticky-kit.js")
      script(src="js/main.js")