nav
	.block-nav#block-nav
		button.mob-btn
			span.ic-close-menu
				svg
					use(xlink:href='#ic-close-menu')
		#mainnav
			.container
				ul.nav-category
					li.nav-category-li
						a.menu-active(href='about-company.html') О компании
					li.nav-category-li
						a(href='our-authorization.html') Наши Авторизации
					li.nav-category-li
						a(href='service.html') Услуги
						button.menu-arrow-bottom
							svg
								use(xlink:href='#ic-triangle')
						.nav-category-sub
							ul.category-sub-column
								li.nav-sub-li Услуги по ремонту и диагностике
								li.nav-sub-li
									a(href="service.html") Ремонт ноутбука
								li.nav-sub-li
									a(href="service.html") Ремонт компьютеров
								li.nav-sub-li
									a(href="service.html") Ремонт мультимедиа устройств
								li.nav-sub-li
									a(href="#") Ремонт принтеров/копиров/факсов/сканеров
								li.nav-sub-li
									a(href="#") Ремонт комплектующих PC
								li.nav-sub-li
									a(href="#") Ремонт UPS
								li.nav-sub-li
									a(href="#") Ремонт PSU
								li.nav-sub-li
									a(href="#") Ремонт TV/Monitor
								li.nav-sub-li
									a(href="#") Работа с ПО
								li.nav-sub-li
									a(href="#") Сетевое оборудование
								li.nav-sub-li
									a(href="#") Ремонт телефонов (DECT, радио, GSM телефонов, КПК)
								li.nav-sub-li
									a(href="#") Ремонт HDD
							ul.category-sub-column
								li.nav-sub-li Гарантийный ремонт
								li.nav-sub-li
									a(href="repare-brend.html") ACER
								li.nav-sub-li
									a(href="repare-brend.html") APC
								li.nav-sub-li
									a(href="repare-brend.html") DELL
								li.nav-sub-li
									a(href="repare-brend.html") IBM
								li.nav-sub-li
									a(href="repare-brend.html") LENOVO
								li.nav-sub-li
									a(href="#") XIAOMI
								li.nav-sub-li
									a(href="#") TOSHIBA
								li.nav-sub-li
									a(href="#") SWEN
								li.nav-sub-li
									a(href="#") Другие бренды
								button.btn.btn-primary.btn-rounded Вызвать мастера

							ul.category-sub-column
								li.nav-sub-li
									a.nav-sub-link(href="#") Продажа зап частей
									a.repare(href="#")
										img(src="img/repare.jpeg")
									p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					li.nav-category-li
						a(href='news-and-offers.html') Новости и Акции
					li.nav-category-li
						a(href='#') Наши преимущества
					li.nav-category-li
						a(href='blog.html') FAQ
					li.nav-category-li
						a(href='contacts.html') Контакты




	button.open-btn
		span.ic-menu
			svg
				use(xlink:href='#ic-menu')
