.block-news.latest-news--block
	.blog-img
		.hovereffect
			a.latest-news__image(href='#')
				img.card-img-top(src='img/bg2.jpg', alt='img')
			.overlay
				time.latest-news__date(datetime='2016-04-22T10:08:47+00:00') 01 окт 2016
				span.tag-news новость

	.blog-text
		h4.card-title.latest-news__title
			a(href='#') Задача организации, в особенности же консультация
		.card-text.latest-news__text
			| Значимость этих проблем настолько очевидна, что рамки и место обучения кадров требуют от нас анализа существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет...
		a.btn.read-more-news(href="single-blog.html") Читать дальше
			span.more-arrow
				svg
					use(xlink:href='#ic-more')