nav.navigation.pagination
	.nav-links
		a.first.page-numbers(href='#')
			span.pag-first
				svg
					use(xlink:href='#ic-first-page')
		a.prev.page-numbers(href='#')
			span.pag-arrow-prev
				svg
					use(xlink:href='#ic-arow-right')
		span.page-numbers.current 1
		a.page-numbers(href='#') 2
		a.page-numbers(href='#') 3
		a.page-numbers(href='#') 4
		a.next.page-numbers(href='#')
			span.pag-arrow
				svg
					use(xlink:href='#ic-arow-right')
		a.last.page-numbers(href='#')
			span.pag-last
				svg
					use(xlink:href='#ic-first-page')