.parteners-header
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="img/brands/lenovo.png")
			.swiper-slide
				img(src="img/brands/toshiba.png")
			.swiper-slide
				img(src="img/brands/acer.png")
			.swiper-slide
				img(src="img/brands/sven.png")
			.swiper-slide
				img(src="img/brands/apc.png")
			.swiper-slide
				img(src="img/brands/ibm.png")
			.swiper-slide
				img(src="img/brands/dell1.png")
			.swiper-slide
				img(src="img/brands/mi.png")