.parteners
	.container-fluid
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/lenovo.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/toshiba.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/acer.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/sven.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/apc.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/ibm.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/dell1.png")
				.swiper-slide
					.partner-block
						figure
							a(href="#")
								img(src="img/brands/mi.png")

