//button.btn.btn-primary.btn-rounded.describe-problem(type="button", data-toggle="modal", data-target="#modalWin") Опиши свою проблему
button(data-modal="#modal").openModal.btn.btn-primary.btn-rounded.describe-problem#openModal Опиши свою проблему
.widget.widget_categories
	h4.sidebar__headings Категории
	ul
		li.cat-item
			svg.ic-list
				use(xlink:href='#ic-triangle')
			a(href='#') категория 1
		li.cat-item
			svg.ic-list
				use(xlink:href='#ic-triangle')
			a(href='#') категория 2
		li.cat-item
			svg.ic-list
				use(xlink:href='#ic-triangle')
			a(href='#') категория 3
		li.cat-item
			svg.ic-list
				use(xlink:href='#ic-triangle')
			a(href='#') категория 4
		li.cat-item
			svg.ic-list
				use(xlink:href='#ic-triangle')
			a(href='#') категория 5

.widget.widget_recent_entries
	h4.sidebar__headings Новые публикации
	ul
		li
			a(href='#') Заголовок статьи блога 1
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 2
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 3
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 4
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 5
				span.date-news 22 апр 2016
.widget.widget_recent_entries
	h4.sidebar__headings Популярные публикации
	ul
		li
			a(href='#') Заголовок статьи блога 1
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 2
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 3
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 4
				span.date-news 22 апр 2016
		li
			a(href='#') Заголовок статьи блога 5
				span.date-news 22 апр 2016
.modal#modal
	.modal__wrapper
		.modal-header
			button.modal__close.close x
			h4 Оставьте заявку
		.modal-body
			form(action="#", method="post")
				input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваше Имя')
				input.form-control.wpcf7-text(type='text', name='fields[name]', required='', value='', size='40', placeholder='Ваш номер телефона')
				textarea.form-control.wpcf7-text(name='fields[text]', required='', cols='30', rows='7', placeholder='Сообщение')
				button.btn.btn-primary.btn-rounded Отправить заявку