<div class="container">
    <div class="row marg-lg-b40 padd-15">
        <div class="col-lg-6 padd-5 marg-md-b30">
            <div class=" widget">
                <div class="textwidget">
                    <h3>
                        We are Construction - <span class="textwidget--thin">Leading provider of industrial and mechanical solutions.</span>
                    </h3>
                    <p>
                        Founded in 1970, our company have grown by leaps and bounds and had been setting new standards. Starting put with only ability, enthusiasm and a clear vision of destination, our team has earned every single
                        reputation and award.
                    </p>
                </div>
            </div>
        </div>
        <!-- end of .col -->
        <div class="col-lg-6 no-padd">
            <div class="col-lg-4 padd-5 marg-md-b30">
                <div class="featured-widget">
                    <div class="textwidget">
                        <p class="text-center">
                                                        <span class="icon-container">
                                                            <span class="fa fa-wrench fa-3x"></span>
                                                        </span>
                        </p>
                        <p class="text-center">
                            <a href="#" class="textwidget__link">
                                <strong>Construction</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 padd-5 marg-md-b30">
                <div class="featured-widget">
                    <div class="textwidget">
                        <p class="text-center">
                                                        <span class="icon-container">
                                                            <span class="fa fa-building fa-3x"></span>
                                                        </span>
                        </p>
                        <p class="text-center">
                            <a href="#" class="textwidget__link">
                                <strong>Renovations</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 padd-5">
                <div class="featured-widget">
                    <div class="textwidget">
                        <p class="text-center">
                                                        <span class="icon-container">
                                                            <span class="fa  fa-globe  fa-3x"></span>
                                                        </span>
                        </p>
                        <p class="text-center">
                            <a href="#" class="textwidget__link">
                                <strong>Green Building</strong>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
    </div>
    <!-- end of .row -->
    <div class="row marg-lg-b40">
        <div class="col-lg-12">
            <div class="widget">
                <div class="textwidget">
                    <hr>
                </div>
            </div>
        </div>
        <!-- end of .col -->
    </div>
    <!-- end of .row -->
    <div class="row marg-lg-b50 marg-md-b0">
        <div class="col-lg-4 marg-lg-b30">
            <div class=" widget">
                <div class="page-box page-box--block">
                    <a class="page-box__picture" href="general-construction.html">
                        <!--<img src="img/photo24-360x180.jpg" width="360" height="180" srcset="img/photo24-360x180.jpg 360w, img/photo24.jpg 830w" sizes="(min-width: 992px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="General Construction">-->
                        <img src="img/logo.png" alt="General Construction">
                    </a>
                    <div class="page-box__content">
                        <h4 class="page-box__title">
                            <a href="general-construction.html">General Construction</a>
                        </h4>
                        <p class="page-box__text">Structures that last are built with Bolts</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
        <div class="col-lg-4 marg-lg-b30">
            <div class="widget">
                <div class="page-box page-box--block">
                    <a class="page-box__picture" href="metal-buildings.html">
                        <img src="img/logo.png" alt="Metal buildings">
                    </a>
                    <div class="page-box__content">
                        <h4 class="page-box__title">
                            <a href="metal-buildings.html">Metal buildings</a>
                        </h4>
                        <p class="page-box__text">Adding permanant or temporary comfort</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
        <div class="col-lg-4 marg-lg-b30">
            <div class="widget">
                <div class="page-box page-box--block">
                    <a class="page-box__picture" href="electrical-installation.html">
                        <img src="img/logo.png"alt="Electrical Installation">
                    </a>
                    <div class="page-box__content">
                        <h4 class="page-box__title">
                            <a href="electrical-installation.html">Electrical Installation</a>
                        </h4>
                        <p class="page-box__text">The nation’s first electrical service company</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
    </div>
    <!-- end of .row -->
    <div class="row marg-lg-b90">
        <div class="col-lg-4 marg-lg-b30">
            <div class=" widget">
                <div class="page-box page-box--block">
                    <a class="page-box__picture" href="design-build.html">
                        <img src="img/logo.png" alt="Design Building">
                    </a>
                    <div class="page-box__content">
                        <h4 class="page-box__title">
                            <a href="design-build.html">Design Building</a>
                        </h4>
                        <p class="page-box__text">Design that matters and last</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
        <div class="col-lg-4 marg-lg-b30">
            <div class=" widget">
                <div class="page-box page-box--block">
                    <a class="page-box__picture" href="engineering-and-planing.html">
                        <img src="img/logo.png" alt="Engineering and Planing">
                    </a>
                    <div class="page-box__content">
                        <h4 class="page-box__title">
                            <a href="engineering-and-planing.html">Engineering and Planing</a>
                        </h4>
                        <p class="page-box__text">Building with best management processes</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
        <div class="col-lg-4">
            <div class=" widget">
                <div class="page-box  page-box--block">
                    <a class="page-box__picture" href="exterior-remodeling.html">
                        <img src="img/logo.png" alt="Exterior remodeling">
                    </a>
                    <div class="page-box__content">
                        <h4 class="page-box__title">
                            <a href="exterior-remodeling.html">Exterior remodeling</a>
                        </h4>
                        <p class="page-box__text">Flexibility for projects with short lead times</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .col -->
    </div>
    <!-- end of .row -->
</div>